.wrapper {
    position: relative;

    padding: 40px 30px;

    height: 100%;
    width: 100%;
}
/* 
:host ::ng-deep {
} */

.orders {
    position: relative;

    height: 600px;
    width: 100%;

    background-color: #fff;

    border-radius: 5px;

    box-shadow: 1px 1px 5px 0px rgba(0, 0, 0, .1);

    overflow: hidden;
    & > .header {
        position: relative;

        height: 80px;
        width: 100%;

        padding: 0 50px;
        line-height: 100px;

        color: orange;
        font-size: 24px;
    }

    & > .body {
        position: relative;

        height: calc(100% - 80px);
        width: calc(100% - 300px);

        padding: 20px 50px;
    }

    & > .summary {
        position: absolute;
        top: 0;
        right: 0;

        height: 100%;
        width: 300px;

        box-shadow: 1px 1px 10px 0px rgba(black, 0.2);
        border-left: 1px solid rgba(black, 0.15);

        background-color: rgba(black, .01);
    }
}