<div class="wrapper">
    <div class="events">
        <div class="events-header">
            <i class="fas fa-list"></i>
            <span>Events</span>

            <div class="btn-add">
                <i class="fas fa-cog"></i>
                <span>New event</span>
            </div>
        </div>
        <div class="events-body">
            <div class="items">
                <div class="item-header">
                    <div class="tick">
                        <p-checkbox name="groupname" value="val2"></p-checkbox>
                    </div>
                    <div class="label">
                        <span>Title</span>
                    </div>
                    <div class="author">
                        <span>Author</span>
                    </div>
                    <div class="cluster">
                        <span>Cluster</span>
                    </div>
                    <div class="tags">
                        <span>Tags</span>
                    </div>
                    <div class="date">
                        <span>Date published</span>
                    </div>
                </div>
                <div class="item" *ngFor="let item of [0, 0, 0, 0, 0, 0, 0, 0]">
                    <div class="tick">
                        <p-checkbox name="groupname" value="val2"></p-checkbox>
                    </div>
                    <div class="label">
                        <span>Label here</span>
                    </div>
                    <div class="author">
                        <span>Author here</span>
                    </div>
                    <div class="cluster">
                        <span>Cluster here</span>
                    </div>
                    <div class="tags">
                        <span>infinite tags</span>
                        <span>infinite tags</span>
                        <span>infinite tags</span>
                    </div>
                    <div class="date">
                        <span>3 January 2030</span>
                    </div>

                    <div class="actions">
                        <span>Edit</span>
                        <span>Hide</span>
                        <span>Remove</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>