.wrapper {
    position: relative;

    min-height: 100vh;
    height: fit-content;
    width: 100%;

    /* margin: 0 100px; */
   /*  margin-top: 80px; */

    background-color: white;
    /* box-shadow: 1px 1px 5px 0 rgba(0, 0, 0, .1); */
}

.header-banner > .banner > .svg {
    background: url('/assets/svg/undraw-edited/banner/communities.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.content {
    position: relative;

    height: fit-content;
    width: 100%;

    padding: 100px 12%;
}

.news {
    position: relative;

    height: fit-content;
    width: 100%;

    & > .header {
        position: relative;

        height: fit-content;
        width: 100%;

        font-size: 40px;
        font-weight: bolder;

        text-transform: uppercase;
        letter-spacing: 2px;

        margin-bottom: 30px;

        color: orange;

    }

    & > .highlight {
        position: relative;

        height: 80vh;
        width: 100%;

        overflow: hidden;

        & > .item {
            position: absolute;
            left: 0;
            top: 0;

            height: 100%;
            width: 100%;

            overflow: hidden;
        }

        & > .item > .img {
            position: absolute;

            height: 100%;
            width: 100%;

            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;

            transition: 3s all;
        }

        & > .item > .info-overlay {
            position: absolute;

            height: 100%;
            width: 100%;

            background-color: rgba(black, 0.3);

            cursor: pointer;

            & > .date {
                position: absolute;
                top: 0;
                right: 0;

                padding: 30px 50px;
                font-size: 20px;
                font-weight: bold;

                color: white;

                z-index: 1;
            }

            & > .info {
                position: absolute;
                bottom: 0;
                left: 0;

                padding-left: 50px;
                padding-bottom: 80px;

                height: fit-content;
                width: fit-content;

                z-index: 1;

                & > .tag {
                    position: relative;

                    height: fit-content;
                    width: fit-content;

                    padding: 5px 15px;

                    background-color: orange;

                    font-size: 20px;
                    font-weight: bold;

                    color: white;
                }

                & > .heading {
                    position: relative;

                    height: fit-content;
                    width: 70%;

                    padding: 30px 0;

                    font-size: 30px;
                    font-weight: bolder;

                    color: white;
                }
            }

            & > .news-data {
                position: absolute;
                bottom: 0;
                left: 0;

                padding: 30px 50px;

                height: fit-content;
                width: 100%;

                display: flex;
                justify-content: space-between;

                z-index: 1;

                & > div {
                    position: relative;

                    height: fit-content;
                    width: fit-content;

                    font-size: 20px;

                    color: white;

                    & > .val {
                        font-weight: bold;
                    }
                }
            }

            & > .gradient-bot {
                position: absolute;
                bottom: 0;
                left: 0;

                height: 50%;
                width: 100%;

                background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(16,41,105,0) 100%);
                opacity: .3;

                transition:  .5s all;

                z-index: 0;
            }
        }

        & > .item:hover {
            & > .img {
                transform: scale(1.05);
            }

            & > .info-overlay > .gradient-bot {
                opacity: .7;
            }
        }
    }

    & > .highlight-childs {
        position: relative;

        height: fit-content;
        width: 100%;

        margin-top: 30px;

        /* display: flex;
        justify-content: space-between; */
        
        & .child {
            position: relative;

            height: 300px;
            width: 350px;

            margin: 0 auto;

            /* margin-right: 20px; */

            cursor: pointer;

            /* &:last-child {
                margin-right: 0;
            } */

            & > .img {
                position: relative;

                height: 100%;
                width: 100%;

                background-position: center;
                background-repeat: no-repeat;
                background-size: cover;
            }
            & > .info-overlay {
                position: absolute;
                left: 0;
                top: 0;

                height: 100%;
                width: 100%;

                background-color: rgba(black, .3);

                & > .tag {
                    position: absolute;
                    left: 0;
                    top: 0;

                    height: fit-content;
                    width: fit-content;

                    padding: 5px 10px;

                    background-color: orange;

                    font-size: 18px;
                    /* font-weight: bold; */
                    color: white;
                }

                & > .date {
                    position: absolute;
                    right: 10px;
                    top: 5px;

                    font-size: 18px;
                    font-weight: bold;
                    color: white;
                }

                & > .title {
                    position: absolute;
                    left: 30px;
                    bottom: 30px;

                    height: fit-content;
                    width: calc(100% - 60px);

                    font-size: 18px;
                    font-weight: bold;
                    color: white;

                    overflow: hidden;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                }
            }
        }
    }

    & > .container {
        position: relative;

        height: fit-content;
        width: 100%;

        margin-top: 30px;

        & > .header {
            position: relative;

            height: fit-content;
            width: 100%;

            font-size: 30px;
            font-weight: bolder;

            padding-top: 50px;
            padding-bottom: 15px;

            text-transform: uppercase;
            letter-spacing: 2px;

            color: orange;

            border-bottom: 2px solid gray;
        }

        & > .filter {
            position: relative;

            height: fit-content;
            width: 100%;
            
            padding: 15px 30px;
            margin: 15px 0;

            background-color: white;
            box-shadow: 1px 1px 5px 0 rgba(black, .2);

            display: flex;
            justify-content: flex-end;

            & > .item {
                position: relative;

                height: fit-content;
                width: fit-content;

                padding-left: 50px;

                & > span {
                    padding-right: 30px;
                }
            }
            

            /* text-align: right; */
        }

        & > .news-cards {
            position: relative;

            height: fit-content;
            width: 100%;
            
            display: flex;
            flex-wrap: wrap;
            justify-content: center;

            & > .news-card {
                position: relative;

                height: 300px;
                width: 300px;

                border-radius: 6px;
                box-shadow: 2px 2px 5px 0px rgba(black, 0.2);

                margin: 20px;

                overflow: hidden;

                & > .img {
                    position: absolute;
                    top: 0;
                    left: 0;

                    height: 75%;
                    width: 100%;

                    background-image: url('/assets/stock/event.jpg');
                    background-position: center;
                    background-repeat: no-repeat;
                    background-size: cover;
                }

                & > .overlay {
                    position: absolute;
                    top: 0;
                    left: 0;

                    height: 75%;
                    width: 100%;

                    background-color: rgba(black, 0.3);

                }

                & > .details-panel {
                    position: absolute;
                    top: 75%;
                    left: 0;

                    height: 25%;
                    width: 100%;

                    padding: 10px 20px;

                    background-color: white;

                    & > .title {
                        position: relative;

                        font-size: 16px;

                        white-space: nowrap;
                        overflow: hidden;
                        text-overflow: ellipsis;
                    }

                    & > .item-bot {
                        position: absolute;
                        bottom: 0;
                        left: 0;

                        height: fit-content;
                        width: 100%;

                        padding: 10px 20px;

                        font-size: 16px;

                        display: flex;
                        justify-content: space-between;

                        & > div {
                            position: relative;

                            height: fit-content;
                            width: fit-content;
                        }

                        & > .tag {
                            font-weight: bold;
                            color: orange;
                        }

                        & > .read-more {
                            cursor: pointer;

                            color: gray;

                            border-bottom: 1px solid orange;
                        }
                    }
                }

                &.white-space {
                    opacity: 0;

                    pointer-events: none;
                    user-select: none;
                }
            }
        }
    }
}

.news-read {
    position: relative;

    height: fit-content;
    width: 100%;

    border-radius: 6px;

    padding: 30px 0;

    box-shadow: 1px 1px 5px 1px rgba(black, .2);

    & > .title {
        position: relative;

        height: fit-content;
        width: 100%;

        font-size: 40px;

        padding: 10px 50px
    }

    & > .stats {
        position: relative;

        height: fit-content;
        width: fit-content;

        display: flex;

        padding: 10px 50px;
        margin-bottom: 30px;

        & > .item {
            position: relative;

            height: fit-content;
            width: fit-content;

            padding-right: 30px;

            &.author {
                color: gray;
            }
            &.date {
                color: gray;
            }
            &.ecluster {
                color: orange;
                font-weight: bold;
            }
        }
    }

    & > .img {
        position: relative;

        height: 80vh;
        width: 100%;

        background-image: url('/assets/stock/event.jpg');
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }

    & > .content {
        position: relative;

        height: fit-content;
        width: 100%;

        font-size: 18px;

        padding: 50px 80px;

        text-align: justify;
    }

    & > .btn-back {
        position: relative;

        height: fit-content;
        width: fit-content;

        padding: 10px 40px;
        margin: 0 auto;

        background-color: orange;

        border-radius: 60px;

        cursor: pointer;

        & > i {
            padding-right: 10px;
        }
    }
}