<div class="wrapper">
    <div class="header-banner">
        <div class="bg-poly-overlay"></div>
        <div class="banner">
            <div class="label">
                <div class="title">
                    <span>News</span>
                </div>
                <div class="brief">
                    <span>Stay up to date!</span>
                </div>
            </div>
           
            <div class="svg"></div>
        </div>
    </div>

    <div class="content" #content>
        <div class="bg-poly-overlay"></div>
        <ng-container *ngIf="!reading">
            <div class="news" [@inOutAnimation]>
                <div class="header">
                    <span>Highlights</span>
                </div>
                
                <div class="highlight" >
                    <ng-container *ngFor="let highlight of highlights; let x = index">
                        <div class="item" [@highlightInOut] (click)="toggleRead(true)" *ngIf="x === activeHighlight">
                            <div class="img" [style.backgroundImage]="'url(' + highlight.imgPath + ')'"></div>
                            <div class="info-overlay">
                                <div class="date">
                                    <span>{{ highlight.datePublish }}</span>
                                </div>
                                <div class="info">
                                    <div class="tag">
                                        <span>{{ highlight.cluster }}</span>
                                    </div>
                                    <div class="heading">
                                        <span>{{ highlight.heading }}</span>
                                    </div>
                                </div>
                                <div class="news-data">
                                    <div class="author">
                                        by <span class="val">{{ highlight.author }}</span>
                                    </div>
                                    <div class="views">
                                        <span class="val">{{ highlight.views }}</span> views
                                    </div>
                                </div>
            
                                <div class="gradient-bot"></div>
                            </div>
                        </div>
                    </ng-container>
                </div>
                
                <div class="highlight-childs">
                    <p-carousel [numVisible]="3" [numScroll]="1" [circular]="true" [value]="[0, 0, 0, 0, 0, 0]" [value]="highlights">
                        <ng-template let-highlight pTemplate="item">
                            <div class="child" (click)="toggleRead(true)">
                                <div class="img" [style.backgroundImage]="'url(' + highlight.imgPath + ')'"></div>
                                <div class="info-overlay">
                                    <div class="tag">
                                        <span>{{ highlight.cluster }}</span>
                                    </div>
                                    <div class="date">
                                        <span>{{ highlight.datePublish }}</span>
                                    </div>
                                    <div class="title">
                                        <span>{{ highlight.heading }}</span>
                                    </div>
                                </div>
                            </div>
                        </ng-template>
                    </p-carousel>
                    <!-- <div class="child" (click)="toggleRead(true)" *ngFor="let item of [0, 0, 0]">
                        <div class="img"></div>
                        <div class="info-overlay">
                            <div class="tag">
                                <span>Academia</span>
                            </div>
                            <div class="date">
                                <span>3 Jan 2039</span>
                            </div>
                            <div class="title">
                                <span>Aenean magna nisi, porta in turpis et, ultrices euismod ipsum</span>
                            </div>
                        </div>
                    </div> -->
                   
                </div>
                <div class="container">
                    <div class="header">
                        <span>All News</span>
                    </div>
                    <div class="filter">
                        <div class="item">
                            <span>Time</span>
                            <p-dropdown [options]="time" [(ngModel)]="selectedTime"></p-dropdown>
                        </div>
                        <div class="item">
                            <span>Cluster</span>
                            <p-dropdown [options]="clusters" [(ngModel)]="selectedCluster"></p-dropdown>
                        </div>
                        
                    </div>
                    <div class="news-cards">
                        <div class="news-card" *ngFor="let card of [0, 0, 0, 0, 0]" [class.white-space]="(card === 1)">
                            <div class="img"></div>
                            <div class="overlay"></div>
                            <div class="details-panel">
                                <div class="title">
                                    <span>Aenean magna nisi, porta in turpis et, ultrices euismod ipsum</span>
                                </div>
                                <div class="item-bot">
                                    <div class="tag">
                                        <span>Academia</span>
                                    </div>
                                    <div class="read-more" (click)="toggleRead(true)">
                                        <span>Read more</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </ng-container>

        <ng-container *ngIf="reading">
            <div class="news-read" [@inOutAnimation]>
                <div class="bg-poly-overlay"></div>
                <div class="title">
                    <span>{{ readEventData.title }}</span>
                </div>
                <div class="stats">
                    <div class="item" [class]="item.class" *ngFor="let item of readEventData.stats" >
                        <span>{{ item.val }}</span>
                    </div>
                </div>
    
                <div class="img"></div>
    
                <div class="content">
                    <p>{{ readEventData.content }}</p>
                    <p>{{ readEventData.content }}</p>
                </div>

                <div class="btn-back" (click)="toggleRead(false)">
                    <i class="fas fa-arrow-left"></i>
                    <span>Go back</span>
                </div>
            </div>
        </ng-container>
    </div>
</div>