<div class="wrapper">
    <div class="summary">
        <div class="summary-item" *ngFor="let item of summary">
            <div class="summary-icon">
                <i [class]="item.i"></i>
            </div>

            <div class="summary-value">
                <span>{{ item.value }}</span>
                <span>{{ item.label }}</span>
            </div>
        </div>
    </div>
    
    <div class="events">
        <div class="events-header">
            <i class="fas fa-list"></i>
            <span>Members</span>

            <!-- <div class="btn-add">
                <i class="fas fa-cog"></i>
                <span>Post news</span>
            </div> -->
        </div>
        <div class="events-body">
            <div class="items">
                <div class="item-header">
                    <div class="tick">
                        <p-checkbox name="groupname" [(ngModel)]="tick" [binary]="true" (onChange)="tickAll()"></p-checkbox>
                    </div>
                    <div class="label">
                        <span>Fullname</span>
                    </div>
                    <div class="author">
                        <span>Username</span>
                    </div>
                    <div class="cluster">
                        <span>Member type</span>
                    </div>
                    <div class="tags">
                        <span>Cluster</span>
                    </div>
                    <div class="date">
                        <span>Online</span>
                    </div>
                </div>
                <div class="item" *ngFor="let item of [0, 0, 0, 0, 0, 0, 0, 0]; let x = index">
                    <div class="tick tick-child">
                        <p-checkbox name="groupname" [binary]="true" [(ngModel)]="itemsTick[x]"></p-checkbox>
                    </div>
                    <div class="label">
                        <span>Muhammad Aidil Syazwan bin Hamdan</span>
                    </div>
                    <div class="author">
                        <span>testUsername</span>
                    </div>
                    <div class="tags">
                        <span>REGULAR</span>
                        <span>LIFETIME</span>
                    </div>
                    <div class="cluster">
                        <span>Academian</span>
                    </div>
                    
                    <div class="date">
                        <span>3 January 2030</span>
                    </div>

                    <div class="actions">
                        <span>Show info</span>
                        <span>Disable</span>
                        <span>Delete</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>