.page-header {
    position: relative;

    height: 60vh;
    width: 100%;

    background-color: rgb(15, 37, 87);

    padding-top: 100px; // topnav is 100px height
}


/* .body {
    position: relative;

    min-height: 100vh;
    height: auto;
    width: 100%;

    padding: 20px;

    background-color: #E4EBF5;
} */

.wrapper {
  position: relative;

  height: auto;
  width: 100%;

  padding: 20px;

  background-color: #fff;
}

.title{
  position: relative;

  height: fit-content;
  width: fit-content;

  margin-left: auto;
  margin-right: auto;

  font-weight: bold;
  color:orange;

  text-align: center;
}



.pricing-cards {
  position: relative;

  height: fit-content;
  width: 90%;

  margin-left: auto;
  margin-right: auto;

  display: flex;
  justify-content: space-between;

  & > .pricing-card {
    position: relative;

    width: 28%;
    height: 800px;

    background-color:#efeff2;
    opacity: 100%;

    box-shadow: 0 0px 30px 10px rgba(#d6d6d6, 0);
    border-radius: 15px;

    transition: .3s all;

    &:hover {
      box-shadow: 0 0px 30px 10px rgba(#d6d6d6, 1);
    }

    & > .header {
      display: block !important;
      position: relative;

      height: fit-content;
      width: 100%;

      padding: 25px;

      text-align: center;

      & > span {
        font-size: 30px;
        color: orange;
        font-weight: bold;

      }

    }
    & > .body {
      display: block !important;
      position: relative;

      height: 100px;
      width: 100%;
    }
    & > .footer {
      & > .btn{
        position: absolute;
        right: 0;
        left: 0;
        display: block;
        text-align: center;
        bottom: 30px;
        border: 2px #ef8216 !important;
        color: white !important;
      }
    }


  }
}

  .step{
    position: relative;

    padding: 20px;

    margin-left: 30%;
    margin-right:20%;

    display: flex;
    justify-content: space-between;

  }


  .ui-button {
    & > .ui-state {

    }
  }
  .ui-button.ui-state-default.ui-button-warning{
    background-color: white !important;
      border: 2px solid #ef8216 !important;
  }



