<div class="page-header">
    <app-section-page-header></app-section-page-header>
</div>

<div class="body">
  <div class="wrapper">

    <div class="step">
      <p-steps [model]="items" [readonly]="true"></p-steps>
    </div>

    <div class="title">
      <h1>Pricing</h1>
    <h2>Select Your Plan!</h2>
    </div>

    <div class="pricing-cards">
      <div class="pricing-card">
        <div class="header">
          <span>Free</span>
        </div>
        <div class="body">
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
          <p>Aliquet bibendum enim facilisis gravida neque convallis. Nisi porta lorem mollis aliquam ut porttitor leo a diam.</p>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
          <p>Aliquet bibendum enim facilisis gravida neque convallis. Nisi porta lorem mollis aliquam ut porttitor leo a diam.</p>
        </div>
        <div class="footer">
          <div class="btn"><button pButton type="button" label="Warning" class="ui-button-raised ui-button-warning"></button></div>
        </div>
      </div>

      <div class="pricing-card">
        <div class="header">
          <span>Free</span>
        </div>
        <div class="body">
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
          <p>Aliquet bibendum enim facilisis gravida neque convallis. Nisi porta lorem mollis aliquam ut porttitor leo a diam.</p>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
          <p>Aliquet bibendum enim facilisis gravida neque convallis. Nisi porta lorem mollis aliquam ut porttitor leo a diam.</p>
        </div>
        <div class="footer">
          <div class="btn"><button pButton type="button" label="Warning" class="ui-button-raised ui-button-warning"></button></div>
        </div>
      </div>
      <div class="pricing-card">
        <div class="header">
          <span>Free</span>
        </div>
        <div class="body">
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
          <p>Aliquet bibendum enim facilisis gravida neque convallis. Nisi porta lorem mollis aliquam ut porttitor leo a diam.</p>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
          <p>Aliquet bibendum enim facilisis gravida neque convallis. Nisi porta lorem mollis aliquam ut porttitor leo a diam.</p>
        </div>
        <div class="footer">
          <div class="btn"><button pButton type="button" label="Warning" class="ui-button-raised ui-button-warning"></button></div>
        </div>
      </div>
    </div>
  </div>
  <hr>
  <div class="wrapper">
    <div class="step">
      <p-steps [model]="items" [readonly]="true"></p-steps>
    </div>
<div class="ui-g ui-fluid">
  <div class="body2">
    <div class="ui-g-12 ui-md-4">
      <label for="username">Username :</label>
        <div class="ui-inputgroup"><input type="text" pInputText>

        </div>
    </div>

    <div class="ui-g-12 ui-md-4">
      <div class="ui-inputgroup">
        <label for="password">Password :</label><input type="password" pInputText >
    </div>

    <div class="ui-g-12 ui-md-4">
    <div class="ui-inputgroup">
      <label for="Cpassword">Confrim Password :</label><input type="password" pInputText >
  </div>
    </div>

    <div class="ui-g-12 ui-md-4">
      <div class="ui-inputgroup">
        <label for="email">Email :</label><input type="email" pInputText >
    </div>
    </div>
    <label for="membership">Membership :</label>
    <p-radioButton name="groupname" value="std" label="Student"></p-radioButton>
    <p-radioButton name="groupname" value="reg" label="Regular"></p-radioButton>
    <p-radioButton name="groupname" value="corp" label="Corporate"></p-radioButton>
    <p-checkbox name="groupname" value="val1" label="I agree to the term and conditions"></p-checkbox>
  </div>
  <div class="footer2">
    <button pButton type="button" label="Warning" class="ui-button-raised ui-button-warning"></button>
  </div>
  </div>

  </div>
  <hr>
  <div class="wrapper">
    <div class="step">
      <p-steps [model]="items" [readonly]="true"></p-steps>
    </div>
    <div class="body3">
    <div class="ui-g ui-fluid">
      <div class="ui-g-12 ui-md-4">
        <label for="fName">Full Name :</label>
          <div class="ui-inputgroup">
              <input type="text" pInputText >
          </div>
      </div>

      <div class="ui-g-12 ui-md-4">
        <div class="ui-inputgroup">
          <label for="birth">Date of Birth :</label>
          <input type="text" pInputText >
      </div>
      <div class="ui-g-12 ui-md-4">
      <div class="ui-inputgroup">
        <label for="phonNum">Phone Number :</label>
        <input type="text" pInputText >
    </div>
      </div>

      <div class="ui-g-12 ui-md-4">
        <div class="ui-inputgroup">
          <label for="address">Address :</label>
          <input type="text" pInputText >
         </div>
      </div>

      <div class="ui-g-12 ui-md-4">
        <div class="ui-inputgroup">
          <label for="crs">Course :</label>
          <input type="text" pInputText >
         </div>
      </div>
    </div>
    </div>
    <div class="footer3">
      <button pButton type="button" label="Warning" class="ui-button-raised ui-button-warning"></button>
    </div>
    </div>
  <hr>
  <div class="wrapper">
    <div class="step">
      <p-steps [model]="items" [readonly]="true"></p-steps>
    </div>
    <div class="body4">
     <label for="successful">fjsdhjksdfkhsdkf</label>
     <label for="proof">dfsdnfjlsdfjsdfjksdnkfj</label>
     <label for="contact">sdfkjsdfjksdnjfkdsjkf</label>
    </div>
    <div class="footer4">
      <button pButton type="button" label="Warning" class="ui-button-raised ui-button-warning"></button>

    </div>


  </div>
</div>
