<div class="page-header">
    <div class="news-img">

    </div>

    <div class="news-title">
        <div class="title">
            <span>Lorem itsum dolor</span>
        </div>
        <div class="author">by Lorem Ipsum - January 24, 2020</div>
    </div>

    <!-- <div class="news-img">
        <img src="http://localhost:8080/storage/images/1583178376730Capture.JPG" alt="">
        <div class="line"></div>
    </div>

    <div class="news-brief">
        <span>News Title</span>
        <span>News Title</span>
        <span>News Title</span>
    </div> -->
</div>

<div class="body">
    <div class="wrapper">
        <span>
            CommLorem ipsum dolor sit amet, consectetur adipiscing elit.

Mauris leo velit, luctus sit amet tellus eget, suscipit ultriciesien.

Nam vitae lacus elit. Quisque vel mauris et dui vestibulum moll.

is id vel augue. Vestibulum porta dolor a sapien tincidunt volut.

Donec id diam nibht in tortor porttitor, tempor nisi et, tempore

Fusce gravida, eros vel finibus tincidunt, odio libero imperdiete

stas, venenatis.

CommLorem ipsum dolor sit amet, consectetur adipiscing elit.

Mauris leo velit, luctus sit amet tellus eget, suscipit ultriciesien.

Nam vitae lacus elit. Quisque vel mauris et dui vestibulum moll.

is id vel augue. Vestibulum porta dolor a sapien tincidunt volut.

Donec id diam nibht in tortor porttitor, tempor nisi et, tempore

Fusce gravida, eros vel finibus tincidunt, odio libero imperdiete

stas, venenatis.
        </span>
    </div>
</div>