<div class="wrapper">
    <div class="svg">
    </div>
    <div class="text-wrapper">
        <div class="header">
            <span>404</span>
        </div>
        <div class="subheader">
            <span>Web page doesn't simply exists</span>
        </div>
        <div class="brief">
            <span>
                Unfortunately, your requested page does not
                exists or have been moved or maybe deleted. Check
                your spelling
            </span>
        </div>
    </div>
</div>