<div class="wrapper">
    <div class="invoices">
        <div class="header">
            <i class="fas fa-list"></i>
            <span>Invoice list</span>
            <!-- <div class="label">
                <span>Invoice list</span>
                <span>(10)</span>
            </div> -->

            <!-- <div class="search">
                <span>search here</span>
            </div> -->
        </div>

        <div class="body">
            <div class="filters">
                <div class="inputs">
                    <div class="ui-inputgroup">
                        <input #id type="text" pInputText placeholder="Invoice ID">   
                        <button pButton type="button" icon="pi pi-search" class="ui-button-warn" (click)="invoiceTable.filter(id.value, 'id', 'contains')"></button>      
                    </div>
                    <div class="ui-inputgroup">
                        <input #amount type="text" pInputText placeholder="Min amount">   
                        <button pButton type="button" icon="pi pi-search" class="ui-button-warn" (click)="invoiceTable.filter(amount.value, 'total', 'min amount')"></button>      
                    </div>
                  
                </div>
                
            </div>
            <div class="table">
                <p-table #invoiceTable [columns]="cols" [value]="invoices" [paginator]="true" [scrollable]="true" [rows]="10" dataKey="id">
                    <ng-template pTemplate="header" let-columns>
                        <tr>
                            <th style="width: 3em"></th>
                            <th *ngFor="let col of columns">
                                {{ col.header }}
                            </th>
                            
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-invoice let-expanded="expanded" let-columns="columns">
                        <tr style="min-height: 100px !important">
                            <td style="width: 3em; height: 50px !important">
                                <a href="#" [pRowToggler]="invoice">
                                    <i [ngClass]="expanded ? 'pi pi-chevron-down' : 'pi pi-chevron-right'"></i>
                                </a>
                            </td>
                            <td *ngFor="let col of columns">
                                {{ invoice[col.field] }}
                            </td>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="rowexpansion" let-invoice let-columns="columns">
                        <tr>
                            <td [attr.colspan]="columns.length + 1">
                                <div class="invoice-details">

                                </div>
                            </td>
                        </tr>
                    </ng-template>
                </p-table>
            </div>
        </div>
    </div>
</div>