<div class="wrapper">
    <div class="invoices">
        <div class="header">
            <i class="fas fa-list"></i>
            <span>Invoice list</span>
        </div>

        <div class="body">
            <div class="filters">
                <div class="inputs">
                    <div class="ui-inputgroup">
                        <input #id type="text" pInputText placeholder="Invoice ID">   
                        <button pButton type="button" icon="pi pi-search" class="ui-button-warn" (click)="invoiceTable.filter(id.value, 'id', 'contains')"></button>      
                    </div>
                    <div class="ui-inputgroup">
                        <input #amount type="text" pInputText placeholder="Min amount">   
                        <button pButton type="button" icon="pi pi-search" class="ui-button-warn" (click)="invoiceTable.filter(amount.value, 'total', 'min amount')"></button>      
                    </div>
                  
                </div>
                
            </div>
            <div class="table">
                <p-table #invoiceTable [columns]="cols" [value]="invoices" [paginator]="true" [scrollable]="true" [rows]="10" dataKey="id">
                    <ng-template pTemplate="header" let-columns>
                        <tr>
                            <th style="width: 3em"></th>
                            <th *ngFor="let col of columns">
                                {{ col.header }}
                            </th>
                            <th>Actions</th>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-invoice let-expanded="expanded" let-columns="columns">
                        <tr style="min-height: 100px !important">
                            <td style="width: 3em; height: 50px !important">
                                <a href="#" [pRowToggler]="invoice">
                                    <i [ngClass]="expanded ? 'pi pi-chevron-down' : 'pi pi-chevron-right'"></i>
                                </a>
                            </td>
                            <td *ngFor="let col of columns">
                                {{ invoice[col.field] }}
                            </td>

                            <td>
                                <div class="btn-action">
                                    <i class="fas fa-print"></i>
                                </div>
                                <div class="btn-action">
                                    <i class="fas fa-times"></i>
                                </div>
                                
                            </td>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="rowexpansion" let-invoice let-columns="columns">
                        <tr>
                            <td [attr.colspan]="columns.length + 2" style="padding: 0 !important">
                                <div class="invoice-details">
                                    <div class="detail-items">
                                        <div class="item">
                                            <div class="label">
                                                <span>Name</span>
                                            </div>
                                            <div class="value">
                                                <span>: Muhammad Aidil Syazwan</span>
                                            </div>
                                        </div>
                                        <div class="item">
                                            <div class="label">
                                                <span>Description</span>
                                            </div>
                                            <div class="value">
                                                <span>: MyRAS membership fee - CORPORATE</span>
                                            </div>
                                        </div>
                                        <div class="item">
                                            <div class="label">
                                                <span>Reference 1</span>
                                            </div>
                                            <div class="value">
                                                <span>: -</span>
                                            </div>
                                        </div>
                                        <div class="item">
                                            <div class="label">
                                                <span>Reference 2</span>
                                            </div>
                                            <div class="value">
                                                <span>: -</span>
                                            </div>
                                        </div>
                                        <div class="item">
                                            <div class="label">
                                                <span>Phone number</span>
                                            </div>
                                            <div class="value">
                                                <span>: +6012345784</span>
                                            </div>
                                        </div>
                                       
                                    </div>

                                    <div class="actions-wrapper">
                                        <div class="actions">
                                            <div class="action">
                                                <span>Print receipt</span>
                                            </div>
                                            <div class="action">
                                                <span>Delete</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </td>
                        </tr>
                    </ng-template>
                </p-table>
            </div>
        </div>
    </div>
</div>