.wrapper {
    position: relative;

    padding: 40px 30px;

    height: 100%;
    width: 100%;
}


:host ::ng-deep {
    .ui-table-scrollable-body {
        height: 405px !important;
    }

    .ui-button-warn {
        background-color: orange !important;
        border: 0 !important;
    }

    .ui-paginator-page {
        background-color: orange !important;
        color: white !important;
    }

    .ui-table-scrollable-header {
        background-color: orange;
    }
}

.invoices {
    position: relative;

    height: 620px;
    width: 100%;

    background-color: #fff;

    border-radius: 5px;

    box-shadow: 1px 1px 5px 0px rgba(0, 0, 0, .1);

    overflow: hidden;
    & > .header {
        position: relative;

        height: 50px;
        width: 100%;

        border-bottom: 1px solid orange;

        padding-left: 15px;
        line-height: 50px;

        & > i {
            margin-right: 15px;
            color: orange;
            font-size: 20px;
        }

        & > span {
            font-size: 15px;
        }
    }

    & > .body {
        position: relative;

        height: calc(100% - 50px);
        width: 100%;

        & > .filters {
            position: relative;

            height: 100px;
            width: 100%;

            /* background-color: green; */

            & > .inputs {
                position: absolute;
                top: 50%;
                left: 0;
                transform: translateY(-50%);

                height: fit-content;
                width: 100%;

                padding: 0 50px;

                display: flex;
                justify-content: flex-end;

                & > div {
                    padding-left: 10px;
                }
            }
        }

        & > .table {
            position: absolute;
            bottom: 0;
            left: 50%;
            transform: translateX(-50%);

            height: calc(100% - 100px);
            width: calc(100% - 100px);

            border-left: 1px solid gray;
            border-right: 1px solid gray;
        }
    }
}

.btn-action {
    display: inline-block;
    position: relative;

    height: fit-content;
    width: fit-content;

    padding: 2.5px 6px;

    background-color: orange;
    color: white;

    border-radius: 5px;

    margin-right: 5px;

    cursor: pointer;

    transition: .3s all;
    &:hover {
        transform: scale(1.05);
    }
}

.invoice-details {
    position: relative;

    height: 200px;
    width: 100%;

    display: flex;

    background: linear-gradient(177deg, rgba(255,205,0,.2) 0%, transparent 100%);
    & > .detail-items {
        position: relative;

        height: 100%;
        width: 50%;

        padding: 30px 30px;

        display: flex;
        flex-direction: column;
        justify-content: space-between;

        & > .item {
            position: relative;

            height: fit-content;
            width: 100%;

            display: flex;
            
            & > .label {
                position: relative;

                height: 100%;
                width: 120px;
            }
            & > .value {
                position: relative;

                height: 100%;
                width: 100%;

                white-space: nowrap;
                text-overflow: ellipsis;
                overflow: hidden;
            }
        }
    }
    & > .actions-wrapper {
        position: relative;

        height: 100%;
        width: 50%;

        display: flex;
        flex-direction: column;
        justify-content: center;

        & > .actions {
            position: relative;

            height: fit-content;
            width: fit-content;

            margin-left: auto;
            margin-right: auto;
            
            display: flex;
            justify-content: space-between;

            & > .action {
                position: relative;

                height: fit-content;
                width: fit-content;

                padding: 10px 25px;

                background-color: orange;
                color: white;

                border-radius: 5px;
                box-shadow: 2px 1px 3px 0 rgba(black, .1);

                margin-right: 10px;

                cursor: pointer;

                &:nth-last-child(1) {
                    margin-right: 0;
                }
            }
        }
    }
}

p-table {
    min-height: 100% !important;
}

th, td {
    border: 0px !important;
}

th {
    background-color: orange!important;
    color: white !important;

    text-align: left !important;
}

tr {
    background-color: white !important;
    border-bottom: 1px solid gray !important;
    color: gray !important;

}
/* tr:nth-child(even) {background-color: rgba(orange, .1) !important;} */