<div class="wrapper">
    <div class="bg-poly-overlay">

    </div>
    <div class="container">
        <div class="navs">
            <div class="items">
                <div class="item" *ngFor="let item of navItems">
                    <div class="header">
                        <span>{{ item.label }}</span>
                    </div>
                    <div class="child">
                        <div class="items">
                            <div class="item" *ngFor="let child of item.menu">
                                <span>{{ child.label }}</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="social-media">
            <div class="header">
                <span>Follow us on</span>
            </div>
            <div class="items">
                <div class="item">
                    <i class="fab fa-facebook-square"></i>
                </div>
                <div class="item">
                    <i class="fab fa-instagram-square"></i>
                </div>
                <div class="item">
                    <i class="fab fa-twitter-square"></i>
                </div>
            </div>
        </div>
    </div>
    <div class="copyright">
        <div class="info">
            <div class="logo"></div>
            <!-- <div class="label">
                <span>Malaysian Robotic & Automation Society</span>
            </div> -->
        </div>
        <div class="statement">
            <span>Copyright © 2020 Official Portal - Malaysian Robotic & Automation Society (MyRAS)</span>
        </div>
    </div>
    <!-- <div class="header">
        <span>Malaysia Robotics and Automation Society</span>
    </div>
    <div class="myras-brief">
        <span>
            To be professional platform where 
            all engineers and technologies can
            meet and network to discuss about robotics and automation program
            in the country.
        </span>
    </div>

    <div class="myras-contact">
        <div class="header">
            <span>Contact us!</span>
        </div>

        <div class="contact-items">
            <div class="item">
                
            </div>
        </div>
    </div> -->
</div>

<!-- 
<div class="wrapper">
    <div class="left">
        <div class="footer-info">
            <span class="header">
                Malaysia Robotics and Automation Society
            </span>
            <span class="brief">
                To be professional platform where 
                all engineers and technologies can
                meet and network to discuss about robotics and automation program
                in the country.
            </span>
            <span class="email">
                Mail us : <span>admin@myras.org</span>
            </span>
            <span class="address">
                Cyberjaya, Selangor, Malaysia.
            </span>
      </div>
    </div>
    
    <div class="right">
        <div class="footer-navlinks">
            <span class="header">Main Menu</span>

            <ul>
                <li>Home</li>
                <li>About</li>
                <li>Membership</li>
                <li>Activities</li>
                <li>Communities</li>
            </ul> 
            
        </div>
        <div class="contacts">
            <div class="header">
                <span>Follow us</span>
            </div>

            <div class="contact-items">
                <div>
                    <i class="fab fa-instagram"></i>
                </div>
                <div>
                    <i class="fab fa-twitter-square"></i>
                </div>
                <div>
                    <i class="fab fa-facebook-square"></i>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="others">
    <div class="items">
        <div>
            <span>Contact</span>
        </div>
        <div>
            <span>Feedback</span>
        </div>
        <div>
            <span>Privacy Policy</span>
        </div>
    </div>
    
</div>
<div class="copyright">
    <span>Copyright © Malaysian Robotics and Automation Society 2020 myras.org All Rights Reserved</span>
</div> -->