.wrapper {
    position: relative;

    height: fit-content;
    width: 100%;

    background-color:rgb(15, 37, 87);

    & > .gradient-transition {
        position: relative;

        height: 150px;
        width: 100%;

        background: linear-gradient(0deg, rgba(15,37,87,1) 0%, rgba(15,37,87,0.8690826672465861) 39%, rgba(15,37,87,0.7570378493194152) 65%, rgba(15,37,87,0.5777661406359419) 82%, rgba(15,37,87,0) 100%);
    }

    & > .container {
        position: relative;

        height: fit-content;
        width: 100%;

        padding: 0 50px;
    }

    & .social-media {
        position: relative;

        height: fit-content;
        width: 500px;

        margin-left: auto;
        margin-right: auto;

        padding-bottom: 30px;

        & > .header {
            position: relative;

            height: fit-content;
            width: 100%;

            text-align: center;

            font-size: 30px;
            font-weight: bold;

            letter-spacing: 2px;
            color: orange;

            padding-bottom: 30px;
        }

        & > .items {
            position: relative;

            height: fit-content;
            width: 100%;

            display: flex;
            justify-content: space-between;

            & > .item {
                position: relative;

                height: fit-content;
                width: fit-content;

                font-size: 50px;
                color: white;

                opacity: .5;

                padding: 15px;

                cursor: pointer;
                &:hover {
                    opacity: 1;
                }
            }
        }
    }

    & .navs {
        position: relative;

        height: fit-content;
        width: 100%;

        padding: 50px 200px;
        padding-bottom: 30px;

        & > .items {
            position: relative;

            height: fit-content;
            width: 100%;

            /* padding: 0 100px; */
            padding-bottom: 30px;

            display: flex;
            justify-content: space-between;

            & > .item {
                position: relative;

                height: fit-content;
                width: fit-content;

                display: flex;
                flex-direction: column;

                & > .header {
                    position: relative;

                    height: fit-content;
                    width: 100%;

                    font-size: 20px;

                    color: white;

                    padding: 10px 0;
                }

                & > .child > .items > .item {
                    padding-bottom: 5px;
                    font-size: 14px;
                    color: white;
                    opacity: .7;

                    cursor: pointer;

                    &:hover {
                        color: orange;
                    }
                }
            }
        }
    }

    & .copyright {
        position: relative;

        height: 80px;
        width: 100%;

        background-color: rgba(black, .5);

        & > .info {
            position: relative;

            float: left;

            height: 100%;
            width: 240px;

            display: flex;

            & > .logo {
                position: absolute;
                left: 30px;
                top: 50%;
                transform: translateY(-50%);

                height: 35px;
                width: 180px;

                background-image: url('../../../../assets/myras-logo.png');
                background-position: center;
                background-repeat: no-repeat;
                background-size: cover;

                filter: grayscale(1);
                transition: .3s all;
            }

            & > .label {
                position: relative;

                height: 80px;
                width: calc(100% - 200px);

                margin-left: 200px;

                padding: 0 30px;

                line-height: 80px;

                color: white;
                font-size: 18px;
                
            }
        }

        & > .statement {
            position: relative;

            float: right;

            height: 80px;
            width: calc(100% - 240px);

            text-align: center;
            line-height: 80px;

            color: white;
            font-size: 16px;
        }

        opacity: .5;
        transition: .3s all;

        &:hover {
            opacity: 1;
            & > .info > .logo {
                filter: grayscale(0);
            }
        }
    }
    /* & > .header {
        position: relative;

        height: fit-content;
        width: 100%;

        padding: 30px 0;

        text-align: center;

        font-size: 30px;
        font-weight: bolder;
        color: orange;
    }

    & > .myras-brief {
        position: relative;

        margin-left: auto;
        margin-right: auto;

        height: fit-content;
        width: 40%;
        min-width: 400px;

        text-align: center;

        font-size: 18px;
        color: white;

        margin-bottom: 30px;
    }

    & > .myras-contact {
        position: relative;

        height: fit-content;
        width: 100%;
    } */
}

/* .wrapper {
    position: relative;

    height: calc(100% - 100px);
    width: 100%;

}

.left {
    position: absolute;
    top: 0;
    left: 0;

    height: 100%;
    width: 50%;

    padding: 30px;

    & > .footer-info {
        position: relative;

        height: 100%;
        width: 100%;
        & > span {
            display: block;

            font-size: 15px;
            color: white;
            line-height: 25px;
        }
        & > .header {
            font-size: 25px;
            color: orange;

            padding-bottom: 25px;

        }

        & > .brief {
            display: inline-block;
            width: 50%;

            text-align: justify;
        }

        & > .email {
            padding-top: 20px;

            & > span {
                font-weight: bold;
            }
        }

        & > .address {
            display: inline-block;
            position: absolute;
            left: 0;
            bottom: 0;
        }
    }
}
.right {
    position: absolute;
    top: 0;
    left: 50%;

    height: 100%;
    width: 50%;

    padding: 30px;

    & > .footer-navlinks {
        position: relative;

        height: 100%;
        width: 100%;

        font-size: 18px;
        & > .header {
            font-size: 25px;
            color: orange;
        }

        & > ul {
            list-style: none;

            padding: 0;
            padding-left: 15px;
            color: white;

            font-size: 15px;
            & > li {
                position: relative;

                padding-left: 15px;
                padding-bottom: 8px;

                display: block;

                &:hover {
                    cursor: pointer;
                }

                &:before {
                    position: absolute;
                    left: 0;
                    bottom: 0;

                    font-size: 30px;
                    content: '\2023';
                    color: orange;

                    opacity: 1;
                    transition: .3s all;
                    border-left: 0px solid orange;
                }
            }
        }
    }
    & > .logo{
        position: relative;
        display: inline-block;

        padding-right: 10px;
        
        & > img{
            position: relative;
            width: 100px;
            right:20%;
        }
        
    }
    
    

    & > .contacts {
        position: absolute;
        right: 20%;
        bottom: 50px;
        transform: translateX(-50%);

        font-size: 20px;
        color: white;

        & > .header {
            color: orange;
            font-size: 22px;

            padding-bottom: 5px;
        }

        & > .contact-items {
            position: relative;

            & > div {
                position: relative;
                display: inline-block;

                padding-right: 10px;

                &:hover {
                    cursor: pointer;
                    transform: scale(1.5);
                }

                transform-origin: bottom;
                transform: scale(1);
                transition: .3s all;
            }
            
        }
       
    }

}

.others {
    position: relative;

    height: 50px;
    width: 100%;

    & > .items {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);

        height: auto;
        width: auto;

        font-size: 18px;
        color: white;

        & > div {
            display: inline-block;

            position: relative;

            padding-right: 30px;
            padding-left: 30px;

            border-right: 2px solid white;

            &:hover {
                cursor: pointer;
            }

            &:last-child {
                border-right: 0;
            }
        }
    }

    border-bottom: 1px solid orange;
}
.copyright {
    position: relative;

    height: 50px;
    width: 100%;

    & > span {
        display: inline-block;
        position: absolute;
        top: 50%;
        left: 0;
        transform: translateY(-50%);

        width: 100%;

        font-size: 15px;
        color: white;

        text-align: center;
    }
} */