<div class="page-header">
    <app-section-page-header></app-section-page-header>
</div>

<div class="body">
    <div class="vision-wrapper">
        <div class="text-card">
            <span class="header">
                Vision
            </span>

            <div class="desc">
                <span>
                    MyRAS vision is to be professional platform 
                    where all engineers and technologies can 
                    meet and network to discuss about robotics 
                    and automation program in the country.
                </span>
            </div>
        </div>
    </div>

    <div class="mission-wrapper">
        <div class="text-card">
            <span class="header">
                Mission
            </span>
    
            <div class="desc">
                <span>
                    To communicate to the government 
                    on the need for robotics and 
                    automation in Malaysia
                </span>
    
                <span>
                    To create awareness on robotics and 
                    automation through various 
                    activities such as conference 
                    and seminars
                </span>
            </div>
        </div>
        
    </div>

    <div class="objective-wrapper">
        
    </div>
</div>
