.wrapper {
    margin: 50px;
}

.news-add {
    position: relative;

    width: 90%;
    max-width: 1024px;
    height: auto;

    margin-left: auto;
    margin-right: auto;


    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 3px;

    transition: .3s all;
    &:hover {
        border: 1px solid rgba(0, 0, 0, 0.4);
    }

    & > .header {
        position: relative;

        width: 100%;
        height: auto;

        padding: 20px 30px;

        color: rgb(15, 37, 87);
        text-transform: uppercase;
        font-size: 24px;

        border-bottom: 1px dashed rgba(0, 0, 0, 0.1)
    }

    & > .body {
        position: relative;

        width: 100%;
        height: auto;

        padding: 15px;
        padding-top: 30px;

        color: black;
        
    }
}

.news-add > .body > .form-group {
    position: relative;

    width: 100%;

    padding: 0px 40px;
    padding-bottom: 30px;

    & > div {
        

        & > .label {
            padding-bottom: 15px;
    
            display: block;
            font-size: 18px;
        }
    
        & > input {
            display: block;
    
            width: 300px;
        }

        & > .img-preview {
            position: relative;

            height: 300px;
            width: 400px;

            padding: 10px;


            border: 1px dashed rgba(0, 0, 0, 0.1);

            & > #img {
                position: relative;

                height: 100%;
                width: 100%;

                background-color: rgb(246, 247, 221);
            }
        }

        & > .label-file {
            display: inline-block;
            width: 400px;
            font-size: 12px;
            text-align: center;
        }
    }

    & >.news-action {
        position: absolute;
        top: 0;
        right: 50px;
    
        height: 50px;
        width: auto;
    }
}

hr {
    border: 1px solid rgba(0, 0, 0, 0.1);
    margin: 30px 50px;
}

:host ::ng-deep .btn-imgBrowse {
    position: relative;
    width: 400px;
    height: 50px;

    & > .ui-button {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
    }
}

:host ::ng-deep .btn-cancel {
    & > .ui-button-secondary {
        margin-right: 20px;
    }
}