.bg {
    position: absolute;
    left: 0;
    top: 0;

    width: 100%;
    height: 100%;

    z-index: 1;
    
    & > .bg-img {
        position: absolute;
        left: 0;
        top: 0;

        height: 100%;
        width: 100%;

        background-image: url('../../../../assets/login-bg.jpg');
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        
        filter: grayscale(1);

        z-index: 1;


    }

    /* filter: grayscale(70%); */

    & > .bg-overlay {
        position: absolute;
        left: 0;
        top: 0;

        height: 100%;
        width: 100%;

        background-color: rgb(15, 37, 87);
        opacity: .9;

        z-index: 2;
    }
}
.btn-close {
    position: relative;
    float: right;
  
    height: 100px;
    width: 100px;
  
    line-height: 100px;
    text-align: center;
  
    font-size: 30px;
  
    color: #a5a5a5;
  
    z-index: 99;
  
    &:hover {
      cursor: pointer;
    }
  }

.wrapper {
    position: relative;

    min-height: 100vh;
    width: 100%;

    z-index: 2;

    & > .body {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);

        background: repeating-linear-gradient(90deg, hsla(298,16%,68%,0.06) 0px, hsla(298,16%,68%,0.06) 1px,transparent 1px, transparent 21px,hsla(298,16%,68%,0.06) 21px, hsla(298,16%,68%,0.06) 22px,transparent 22px, transparent 72px),repeating-linear-gradient(0deg, hsla(298,16%,68%,0.06) 0px, hsla(298,16%,68%,0.06) 1px,transparent 1px, transparent 21px,hsla(298,16%,68%,0.06) 21px, hsla(298,16%,68%,0.06) 22px,transparent 22px, transparent 72px),repeating-linear-gradient(135deg, hsla(298,16%,68%,0.06) 0px, hsla(298,16%,68%,0.06) 1px,transparent 1px, transparent 21px,hsla(298,16%,68%,0.06) 21px, hsla(298,16%,68%,0.06) 22px,transparent 22px, transparent 72px),linear-gradient(90deg, hsl(275,3%,97%),hsl(275,3%,97%));

        max-width: 1240px;

        height: 500px;
        width: 90%;

        /* border: 3px solid orange; */

        border-radius: 8px;

        & > .logo {
            position: absolute;
            left: 0;
            top: 50%;
            transform: translateY(-50%);

            height: 80%;
            width: 50%;

            border-right: 3px solid orange;

            & > img {
                display: inline-block;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                max-height: 90px;
                height: 10vw;

                &:hover {
                    cursor: pointer;
                }
            }

            @keyframes bgAnim {
                from {
                    box-shadow: inset 0 0 0 25vw orange;
                }
                to {
                    box-shadow: inset 0 0 0 3px orange;
                }
            }
            &::before {
                content: '';
                position: absolute;
                left: 0;
                top: 0;

                height: 100%;
                width: 100%;
                /* box-shadow: inset 0 0 0 25vw orange;

                animation: bgAnim ease-out;
                animation-delay: .3s;
                animation-duration: .3s;
                animation-fill-mode: forwards; */
            }
        }

        & > .form {
            position: absolute;
            top: 0;
            left: 50%;

            height: 100%;
            width: 50%;

            & > .form-container {
                
                position: absolute;
                top: 20%;
                left: 50%;
                transform: translateX(-50%);

                height: 80%;
                width: 70%;

                & > div {
                    

                    position: relative;
                    display: block;
                    margin-top: 25px;

                    & > i {
                        display: inline-block;
                        position: absolute;
                        top: 50%;
                        left: 15px;
                        transform: translateY(-50%);

                        padding: 2px;
                        padding-right: 15px;

                        font-size: 15px;
                        color: rgb(15, 37, 87);

                        border-right: 2px solid orange;
                    }

                    & > input {
                        display: inline-block;
                        
                        padding: 15px;
                        padding-left: 60px;
                        
                        max-width: 500px;
                        width: 100%;
    
                        background-color: white;
                        border: 2px solid orange;

                        font-size: 15px;
                        color: rgb(15, 37, 87);


                        transition: .3s all;
                        &[type="password"] {
                            letter-spacing: 4px;
                        }

                        &::placeholder {
                            color: rgb(15, 37, 87);
                            opacity: .5;
                            letter-spacing: 2px;
                        }

                        &:focus {
                            background-color: white;
                            outline: none;
                        }
                    }

                    &:nth-child(3) {
                        margin-top: 20px;
                        color: rgb(15, 37, 87);

                        & > .forget {
                            position: relative;
                            width: 100%;
                            padding-top: 25px;
                            text-align: center;

                            & > span {
                                padding: 5px;
                            }

                            & > .hlink {
                                text-decoration: none;

                                &:hover {
                                    cursor: pointer;
                                    text-decoration: underline;
                                }
                            }
                            
                        }

                        & > .btn-login {
                            position: relative;

                            padding-top: 50px;

                            width: 100%;
                            text-align: center;

                            & > span {
                                padding: 10px 50px;

                                font-size: 20px;
                                letter-spacing: 3px;
                                color: orange;

                                border: 2px solid orange;

                                background-color: transparent;
                                
                                transition: .3s all;
                                &:hover {
                                    cursor: pointer;

                                }
                            }
                        }
                    }
                }

                & > .signup-txt {
                    position: absolute;
                    bottom: 0;
                    left: 0;

                    & > span {
                        padding-right: 10px;
                        color: rgb(15, 37, 87);
                    }
                }
            }
        }
    }
}