<div class="bg">
    <div class="bg-color"></div>
    <div class="bg-poly-overlay"></div>
    
</div>
<div class="wrapper">
    <div class="btn-close" (click)="this.close()">
        <i class="fas fa-times"></i>
    </div>
    <div class="body">
        <div class="logo">
            <img src="../../../../assets/myras-logo.png" alt="" routerLink="/home">
        </div>

        <div class="form">
            <div class="form-container">
                <div>
                    <i class="fa fa-user"></i>
                    <input type="text" placeholder="Username" [(ngModel)]="this.username" #inputUsername>
                </div>
                
                <div>
                    <i class="fa fa-lock"></i>
                    <input type="password" placeholder="Password" [(ngModel)]="this.password" #inputPassword>
                </div>
                
                <div>
                    <p-checkbox [label]="'Remember me'" [binary]="true" [(ngModel)]="this.rememberUser"></p-checkbox>
                    <div class="forget">
                        
                        <a class="hlink">Forgot password?</a>
                        <span> | </span>
                        <a class="hlink" (click)="this.register()">Sign Up</a>
                    </div>

                    <div class="btn-login">
                        <span (click)="login()" #btnSubmit>Login</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>