<div class="wrapper">
    <div class="header">
        <span>
            User profile
        </span>
    </div>
    <div class="card">
        <div class="card-header">
            <img src="../../../../../../assets/login-bg.jpg" alt="">
            <div class="username">
                <span>aidil</span>
            </div>
            <div class="email">
                <span>aidil@syazwan.com</span>
            </div>
            <div class="plan">
                <span>student</span>
            </div>
        </div>

        <div class="card-body">
            <div class="info-items">
                <div class="info-item">
                    <div class="info-header">
                        <span>Account</span>
                    </div>
                    <div class="info-item-list">
                        <div class="info-item-list-item">
                            <span>Username:</span>
                            <span class="info-value">
                                aidil
                            </span>
                            
                        </div>
                        <div class="info-item-list-item">
                            <span>Email:</span>
                            <span class="info-value">
                                aidil@syazwan.com
                            </span>
                            
                        </div>
                        <div class="info-item-list-item">
                            <span>Subscription: </span>
                            <span class="info-value">
                                Student
                            </span>
                            
                        </div>
                        <div class="info-item-list-item"></div>
                    </div>
                </div>
                <div class="info-item">
                    <div class="info-header">
                        <span>User informations</span>
                    </div>
                    <div class="info-item-list">
                        <div class="info-item-list-item">
                            <span>Full name:</span>
                            <span class="info-value">
                                Muhammad Aidil Syazwan
                            </span>
                            
                        </div>
                        <div class="info-item-list-item">
                            <span>DoB:</span>
                            <span class="info-value">
                                12/12/1221
                            </span>
                            
                        </div>
                        <div class="info-item-list-item">
                            <span>Phone: </span>
                            <span class="info-value">
                                +602154657564
                            </span>
                            
                        </div>
                        <div class="info-item-list-item"></div>
                    </div>
                </div>

                <div class="info-item">
                    <div class="info-header">
                        <span>Address</span>
                    </div>
                    <div class="info-item-list">
                        <div class="info-item-list-item">
                            <span>Line:</span>
                            <span class="info-value">
                                No. 144, Kg. Kroh Hilir
                            </span>
                        </div>
                        <div class="info-item-list-item">
                            <span>City:</span>
                            <span class="info-value">
                                Padang Rengas
                            </span>
                        </div>
                        <div class="info-item-list-item">
                            <span>State:</span>
                            <span class="info-value">
                                Perak
                            </span>
                        </div>
                        <div class="info-item-list-item">
                            <span>ZIP Code:</span>
                            <span class="info-value">
                                33700
                            </span>
                        </div>
                    </div>
                </div>

                <div class="info-item">
                    <div class="info-header">
                        <span>University</span>
                    </div>
                    <div class="info-item-list">
                        <div class="info-item-list-item">
                            <span>Student ID:</span>
                            <span class="info-value">
                                CA191234
                            </span>
                        </div>
                        <div class="info-item-list-item">
                            <span>Name:</span>
                            <span class="info-value">
                                University Malaysia Pahang
                            </span>
                        </div>
                        <div class="info-item-list-item">
                            <span>Course:</span>
                            <span class="info-value">
                                BCN
                            </span>
                        </div>
                        <div class="info-item-list-item"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>