<div class="wrapper">
    <div class="header">
        <span>
            User profile
        </span>
    </div>
    <div class="card">
        <div class="card-header">
            <img src="../../../../../../assets/login-bg.jpg" alt="">
            <div class="username">
                <span>{{ this.username }}</span>
            </div>
            <div class="email">
                <span>{{ this.email }}</span>
            </div>
            <div class="plan">
                <span>{{ this.plan }}</span>
            </div>
        </div>

        <div class="card-body">
            <div class="info-items">
                <div class="info-item">
                    <div class="info-header">
                        <span>Account</span>
                    </div>
                    <div class="info-item-list">
                        <div class="info-item-list-item">
                            <span>Username:</span>
                            <span class="info-value">
                                {{ this.username }}
                            </span>
                            
                        </div>
                        <div class="info-item-list-item">
                            <span>Email:</span>
                            <span class="info-value">
                                {{ this.email }}
                            </span>
                            
                        </div>
                        <div class="info-item-list-item">
                            <span>Subscription: </span>
                            <span class="info-value">
                                {{ this.plan }}
                            </span>
                            
                        </div>
                        <div class="info-item-list-item"></div>
                    </div>
                </div>
                <div class="info-item">
                    <div class="info-header">
                        <span>User informations</span>
                    </div>
                    <div class="info-item-list">
                        <div class="info-item-list-item">
                            <span>Full name:</span>
                            <span class="info-value">
                                {{ this.fullname }}
                            </span>
                            
                        </div>
                        <div class="info-item-list-item">
                            <span>DoB:</span>
                            <span class="info-value">
                                {{ this.dob }}
                            </span>
                            
                        </div>
                        <div class="info-item-list-item">
                            <span>Phone: </span>
                            <span class="info-value">
                                {{ this.phone }}
                            </span>
                            
                        </div>
                        <div class="info-item-list-item"></div>
                    </div>
                </div>

                <div class="info-item">
                    <div class="info-header">
                        <span>Address</span>
                    </div>
                    <div class="info-item-list">
                        <div class="info-item-list-item">
                            <span>Line:</span>
                            <span class="info-value">
                                {{ this.address.line }}
                            </span>
                        </div>
                        <div class="info-item-list-item">
                            <span>City:</span>
                            <span class="info-value">
                                {{ this.address.city }}
                            </span>
                        </div>
                        <div class="info-item-list-item">
                            <span>State:</span>
                            <span class="info-value">
                                {{ this.address.state }}
                            </span>
                        </div>
                        <div class="info-item-list-item">
                            <span>ZIP Code:</span>
                            <span class="info-value">
                                {{ this.address.zip }}
                            </span>
                        </div>
                    </div>
                </div>

                <div class="info-item">
                    <div class="info-header">
                        <span>University</span>
                    </div>
                    <div class="info-item-list">
                        <div class="info-item-list-item">
                            <span>Student ID:</span>
                            <span class="info-value">
                                {{ this.student.id }}
                            </span>
                        </div>
                        <div class="info-item-list-item">
                            <span>Name:</span>
                            <span class="info-value">
                                {{ this.student.university }}
                            </span>
                        </div>
                        <div class="info-item-list-item">
                            <span>Course:</span>
                            <span class="info-value">
                                {{ this.student.course }}
                            </span>
                        </div>
                        <div class="info-item-list-item"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>