<!-- <div class="wrapper">
    <div class="header">
        <span>
            User profile
        </span>
    </div>
    <div class="card">
        <div class="card-header">
            <img src="../../../../../../assets/login-bg.jpg" alt="">
            <div class="username">
                <span>{{ this.username }}</span>
            </div>
            <div class="email">
                <span>{{ this.email }}</span>
            </div>
            <div class="plan">
                <span>{{ this.plan }}</span>
            </div>
        </div>

        <div class="card-body">
            <div class="info-items">
                <div class="info-item">
                    <div class="info-header">
                        <span>Account</span>
                    </div>
                    <div class="info-item-list">
                        <div class="info-item-list-item">
                            <span>Username:</span>
                            <span class="info-value">
                                {{ this.username }}
                            </span>
                            
                        </div>
                        <div class="info-item-list-item">
                            <span>Email:</span>
                            <span class="info-value">
                                {{ this.email }}
                            </span>
                            
                        </div>
                        <div class="info-item-list-item">
                            <span>Subscription: </span>
                            <span class="info-value">
                                {{ this.plan }}
                            </span>
                            
                        </div>
                        <div class="info-item-list-item"></div>
                    </div>
                </div>
                <div class="info-item">
                    <div class="info-header">
                        <span>User informations</span>
                    </div>
                    <div class="info-item-list">
                        <div class="info-item-list-item">
                            <span>Full name:</span>
                            <span class="info-value">
                                {{ this.fullname }}
                            </span>
                            
                        </div>
                        <div class="info-item-list-item">
                            <span>DoB:</span>
                            <span class="info-value">
                                {{ this.dob }}
                            </span>
                            
                        </div>
                        <div class="info-item-list-item">
                            <span>Phone: </span>
                            <span class="info-value">
                                {{ this.phone }}
                            </span>
                            
                        </div>
                        <div class="info-item-list-item"></div>
                    </div>
                </div>

                <div class="info-item">
                    <div class="info-header">
                        <span>Address</span>
                    </div>
                    <div class="info-item-list">
                        <div class="info-item-list-item">
                            <span>Line:</span>
                            <span class="info-value">
                                {{ this.address.line }}
                            </span>
                        </div>
                        <div class="info-item-list-item">
                            <span>City:</span>
                            <span class="info-value">
                                {{ this.address.city }}
                            </span>
                        </div>
                        <div class="info-item-list-item">
                            <span>State:</span>
                            <span class="info-value">
                                {{ this.address.state }}
                            </span>
                        </div>
                        <div class="info-item-list-item">
                            <span>ZIP Code:</span>
                            <span class="info-value">
                                {{ this.address.zip }}
                            </span>
                        </div>
                    </div>
                </div>

                <div class="info-item">
                    <div class="info-header">
                        <span>University</span>
                    </div>
                    <div class="info-item-list">
                        <div class="info-item-list-item">
                            <span>Student ID:</span>
                            <span class="info-value">
                                {{ this.student.id }}
                            </span>
                        </div>
                        <div class="info-item-list-item">
                            <span>Name:</span>
                            <span class="info-value">
                                {{ this.student.university }}
                            </span>
                        </div>
                        <div class="info-item-list-item">
                            <span>Course:</span>
                            <span class="info-value">
                                {{ this.student.course }}
                            </span>
                        </div>
                        <div class="info-item-list-item"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div> -->

<div class="wrapper">
    <div class="card">
        <div class="header">
            <span>Personal information</span>
        </div>

        <div class="body">
            <div class="info-items">
                <div class="item">
                    <p-panel header="Detail" [toggleable]="true">
                        <div class="input-items">
                            <div class="item">
                                <div class="label">
                                    <span>Title</span>
                                </div>
                                <div class="input">
                                    <p-dropdown [options]="
                                    [
                                        { label: 'Dr.', value: 'Dr.' },
                                        { label: 'ENG', value: 'ENG' },
                                        { label: 'Prof.', value: 'Prof.' },
                                        { label: 'Miss', value: 'Miss' },
                                        { label: 'Mr.', value: 'Mr.' },
                                        { label: 'Mrs.', value: 'Mrs.' },
                                        { label: 'Ms.', value: 'Ms.' },
                                        { label: 'Professor', value: 'Professor' }
                                    ]
                                    " placeholder="Select one"></p-dropdown>
                                </div>
                            </div>
                            <div class="item">
                                <div class="label">
                                    <span>Full name</span>
                                </div>
                                <div class="input">
                                    <input type="text" pInputText />
                                </div>
                            </div>
                            <div class="item">
                                <div class="label">
                                    <span>Preferred name</span>
                                </div>
                                <div class="input">
                                    <input type="text" pInputText />
                                </div>
                            </div>
                            <div class="item">
                                <div class="label">
                                    <span>Gender</span>
                                </div>
                                <div class="input">
                                    <p-dropdown [options]="
                                    [
                                        { label: 'Male', value: 'male' },
                                        { label: 'Female', value: 'female' },
                                        { label: 'Other', value: 'other' },
                                        { label: 'Prefer not to mention', value: '' }
                                    ]
                                    " placeholder="Select one"></p-dropdown>
                                </div>
                            </div>
                            <div class="item">
                                <div class="label">
                                    <span>Date of birth</span>
                                </div>
                                <div class="input">
                                    <p-calendar [monthNavigator]="true" [yearNavigator]="true" yearRange="1900:2020"></p-calendar>
                                </div>
                            </div>
                            <div class="item">
                                <div class="label">
                                    <span>Photo</span>
                                </div>
                                <div class="input">
                                    <div class="photo"></div>
                                    <div class="photo-options">
                                        <span class="option">Update</span>
                                        <span style="padding: 10px;">or</span>
                                        <span class="option">Remove</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </p-panel>
                </div>
                <div class="item">
                    <p-panel header="Contact" [toggleable]="true">
                        <div class="input-items">
                            <div class="item">
                                <div class="label">
                                    <span>Email address</span>
                                </div>
                                <div class="input">
                                    <input type="email" pInputText />
                                </div>
                            </div>
                            <div class="item">
                                <div class="label">
                                    <span>Alternate email address</span>
                                </div>
                                <div class="input">
                                    <input type="email" pInputText />
                                </div>
                            </div>
                            <div class="item">
                                <div class="label">
                                    <span>Home telephone number</span>
                                </div>
                                <div class="input" style="max-width: 200px;">
                                    <input type="text" pInputText />
                                </div>
                            </div>
                            <div class="item">
                                <div class="label">
                                    <span>Mobile telephone number</span>
                                </div>
                                <div class="input" style="max-width: 200px;">
                                    <input type="text" pInputText />
                                </div>
                            </div>
                            <div class="item">
                                <div class="label">
                                    <span>Work/School telephone number</span>
                                </div>
                                <div class="input" style="max-width: 200px;">
                                    <input type="text" pInputText />
                                </div>
                            </div>
                        </div>
                    </p-panel>
                </div>
                <div class="item">
                    <p-panel header="Biography" [toggleable]="true">
                        <div class="input-items">
                            <div class="item">
                                <div class="label">
                                    <span>Biography</span>
                                </div>
                                <div class="input">
                                    <textarea [rows]="5" [cols]="30" [autoResize]="true" pInputTextarea></textarea>
                                </div>
                            </div>
                        </div>
                        
                    </p-panel>
                </div>
            </div>
            
        </div>
    </div>
</div>