<!-- guest -->
<div *ngIf="!this.loggedIn" class="top-navbar" [class.scrolled]="this.scrolled" [class.hide]="this.topnav.hide">
  <div>
    <img src="../assets/myras-logo.png" alt="">
  </div>
    
  <div>
    <ul class="navbar-items">
      <li *ngFor="let item of this.navItems" [class.active]="item.active" [routerLink]="item.path" routerLinkActive>{{ item.label }}</li>
      <li class="glow" routerLink="/login">Join Us</li>
    </ul>
  </div>
  
</div>
  
<div *ngIf="!this.loggedIn" class="body-wrapper">
  <router-outlet></router-outlet>
  
</div>

<div *ngIf="!this.loggedIn" class="footer-wrapper" [class.hide]="this.footer.hide">
  <app-section-footer></app-section-footer>
</div>

<!-- member -->
<!-- <div *ngIf="this.loggedIn" class="user-topbar" [class.scrolled]="this.scrolled">
  <div>
    <img src="../assets/myras-logo.png" alt="">
  </div>

  <div>
    <div class="welcome-text">
      <span>Welcome! {{ this.username }}</span>
    </div>

    <div class="breadcrumb">
      <p-breadcrumb [model]="this.breadcrumbItems" [home]="home"></p-breadcrumb>
    </div>

    <div class="btn-logout">
      <span>Log out</span>
    </div>
  </div>
</div> -->

<div *ngIf="this.loggedIn" class="user-sidenav">
  <div class="btn-toggle">
    <i class="fas fa-bars"></i>
  </div>

  <div class="sidebar-userInfo">
    <div class="userInfo-img">
      <img src="../assets/login-bg.jpg" alt="">
    </div>

    <div class="userInfo-label">
      <div class="name"> {{ this.username }} </div>
      <div class="email"> {{ this.currentUser.getContact().email }} </div>
    </div>
  </div>

  <ul class="sidebar-items">
    <li *ngFor="let item of this.sidebarItems" >
      <span>{{ item.label }}</span>
      <ng-container *ngIf="item.child">
        <ul class="sidebar-childs" *ngFor="let child of item.child" >
          <li (click)="this.navigate(child.url)">
            <span> {{ child.label }} </span>
          </li>
        </ul>
      </ng-container>
    </li>
  </ul>
</div>

<div *ngIf="this.loggedIn" class="user-body">
  <router-outlet></router-outlet>
</div>
