
<div *ngIf="!this.userUI">
  <div class="top-navbar" [class.scrolled]="this.scrolled" [class.hide]="this.topnav.hide">
    <div>
      <img src="../assets/myras-logo.png" alt="" (click)="this.logout()">
    </div>
      
    <div>
      <ul class="navbar-items">
        <li *ngFor="let item of this.navItems" [class.active]="item.active" [routerLink]="item.path" routerLinkActive>{{ item.label }}</li>
        <li class="glow" routerLink="/login">Login</li>
      </ul>
    </div>
    
  </div>

  <div class="body-wrapper">
    <router-outlet></router-outlet>
    
  </div>

  <div class="footer-wrapper" [class.hide]="this.footer.hide">
    <app-section-footer></app-section-footer>
  </div>

</div>

<div *ngIf="this.userUI">
  <div class="user-topbar">
    <div class="p-grid p-justify-end">
      <div class="p-col-2" style="line-height: 80px; text-align: center;">
        <p-button class="btn-signout" label="Log out" (click)="this.logout()"></p-button>
      </div>
    </div>
  </div>
  
  <div class="user-sidenav">
    <div class="logo">
      <img src="../assets//myras-logo.png" alt="">
    </div>
  
    <div class="sidebar-userInfo">
      <div class="userInfo-img">
        <img src="../assets/login-bg.jpg" alt="">
      </div>
  
      <div class="userInfo-label">
        <div class="name"> {{ this.currentUser.username }} </div>
        <div class="email"> {{ this.currentUser.email }} </div>
      </div>
    </div>
    <p-accordion>
      <p-accordionTab header="Dashboard">
      </p-accordionTab>
      <p-accordionTab header="Pages">
        <ul>
          <li>Overview</li>
          <li>Add View</li>
        </ul>
      </p-accordionTab>
      <p-accordionTab header="Member">
        <ul>
          <li>Disable Member Account</li>
        </ul>   
      </p-accordionTab>
  </p-accordion>
  </div>
  
  <div class="user-body">
    <router-outlet></router-outlet>
  </div>

</div>

