@import 'src/app/theme/colors.scss';
@import 'src/app/imports/scss/accordion.scss';
@import 'src/app/theme/primeng.scss';

.top-navbar {
    position: fixed;
    left: 0;
    top: 0;

    width: 100%;
    height: 100px;

    z-index: 3;

    padding-top: 50px;

    transition: .3s all;

    user-select: none;

    z-index: 995;

    &::after {
        content: "";
        /* background: repeating-linear-gradient(90deg, hsla(298,16%,68%,0.06) 0px, hsla(298,16%,68%,0.06) 1px,transparent 1px, transparent 21px,hsla(298,16%,68%,0.06) 21px, hsla(298,16%,68%,0.06) 22px,transparent 22px, transparent 72px),repeating-linear-gradient(0deg, hsla(298,16%,68%,0.06) 0px, hsla(298,16%,68%,0.06) 1px,transparent 1px, transparent 21px,hsla(298,16%,68%,0.06) 21px, hsla(298,16%,68%,0.06) 22px,transparent 22px, transparent 72px),repeating-linear-gradient(135deg, hsla(298,16%,68%,0.06) 0px, hsla(298,16%,68%,0.06) 1px,transparent 1px, transparent 21px,hsla(298,16%,68%,0.06) 21px, hsla(298,16%,68%,0.06) 22px,transparent 22px, transparent 72px),linear-gradient(90deg, hsl(275,3%,97%),hsl(275,3%,97%)); */
        background-color: white;
        opacity: 0;
        top: 0;
        left: 0;
        position: absolute;
        z-index: -1;   

        width: 100%;
        height: 100%;

        transition: .3s all;
    }

    &.scrolled {
        height: 80px;
        padding: 0;

        box-shadow: 2px 0 5px 2px rgba(black, .3);
        &::after {
            content: "";
            /* background: repeating-linear-gradient(90deg, hsla(298,16%,68%,0.06) 0px, hsla(298,16%,68%,0.06) 1px,transparent 1px, transparent 21px,hsla(298,16%,68%,0.06) 21px, hsla(298,16%,68%,0.06) 22px,transparent 22px, transparent 72px),repeating-linear-gradient(0deg, hsla(298,16%,68%,0.06) 0px, hsla(298,16%,68%,0.06) 1px,transparent 1px, transparent 21px,hsla(298,16%,68%,0.06) 21px, hsla(298,16%,68%,0.06) 22px,transparent 22px, transparent 72px),repeating-linear-gradient(135deg, hsla(298,16%,68%,0.06) 0px, hsla(298,16%,68%,0.06) 1px,transparent 1px, transparent 21px,hsla(298,16%,68%,0.06) 21px, hsla(298,16%,68%,0.06) 22px,transparent 22px, transparent 72px),linear-gradient(90deg, hsl(275,3%,97%),hsl(275,3%,97%)); */
            background-color: white;
            opacity: 1;
            top: 0;
            left: 0;
            position: absolute;
            z-index: -1;   
    
            width: 100%;
            height: 100%;
        }

        & > div:nth-child(2) > ul > li {
            color: black;
        }
    }

    &.hovered > div > .navbar-items > li {
        color: black !important;
    }

    & > div {
        display: inline-block;
        position: relative;

        height: 100%;
        &:nth-child(1) {
            float: left;
            width: 20%;

            & > img {
                position: absolute;
                top: 50%;
                left: 0;
                transform: translateY(-50%);

                margin-left: 50px;

                height: 50px;
            }
        }
        &:nth-child(2) {
            float: right;
            width: 80%;

            & > ul {
                position: relative;

                height: 100%;
                width: 100%;

                list-style-type: none;

                margin: 0;
                padding: 0 30px;

                display: flex;
                justify-content: space-around;
                & > li {
                    position: relative;
                    display: inline-block;

                    height: 100%;
                    width: fit-content;

                    /* padding: 8px 10px; */
                    padding: 0;
                    font-size: 16px;
                    color: white;

                    transition: .3s all;
                    border-bottom: 0px solid transparent;

                    display: flex;
                    flex-direction: column;
                    justify-content: center;

                    border-bottom: 0px solid orange;
                    & > span {
                        display: inline-block;
                        position: relative;

                        height: fit-content;
                        width: fit-content;

                        pointer-events: none;
                    }
                    &.active {
                        color: orange;
                        /* border-bottom: 3px solid orange; */
                    }

                    &:hover {
                        cursor: pointer;

                        /* color: orange; */
                        border-bottom: 3px solid orange;
                    }

                    &:focus {
                        outline: none;
                    }

                    &.login {
                        position: relative;

                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        & > span {
                            display: inline-block;
                            position: relative;

                            background-color: orange;
                            border-radius: 25px;
                            /* float: right; */
                            padding: 8px 40px;

                            line-height: initial;

                            transition: .3s all;
                        }

                        &:hover {
                            border-bottom: 0px solid orange;
                        }
                    }
                }
            }
        }
    }
}

.top-navbar-menu {
    position: fixed;
    left: 0;
    top: 0;

    height: 100vh;
    width: 100%;

    background-color: rgba(#102969, .5);

    z-index: 2;

    opacity: 0;

    pointer-events: none;

    transition: .3s all;
    & > .menu-wrapper {
        position: absolute;
        left: 0;
        top: 0;
        transform: translateY(-400px);

        height: 400px;
        width: 100%;

        background-color: white;

        transition: .7s all;

        z-index: 3;
        & > .menu {
            position: absolute;
            left: 0;
            top: 100px;

            height: 300px;
            width: 100%;

            & > .menu-items {
                position: absolute;
                top: 50%;
                left: 0;
                transform: translateY(-50%);

                height: fit-content;
                width: 100%;

                padding: 0 50px;

                display: flex;
                justify-content: space-around;

                & > .item {
                    position: relative;

                    height: 100px;
                    width: 100%;

                    padding-right: 30px;

                    cursor: pointer;
                    & > .hitbox {
                        position: relative;

                        height: 100px;
                        width: fit-content;

                        cursor: pointer;
                    }
                    & > .icon {
                        position: relative;

                        float: left;
                        
                        height: 100%;
                        width: 100px;

                        & > i {
                            display: inline-block;

                            position: absolute;
                            left: 50%;
                            top: 50%;
                            transform: translate(-50%, -50%);

                            height: fit-content;
                            width: fit-content;

                            font-size: 50px;
                            color: gray;

                            transition: .3s all;
                        }
                    }

                    & > .text {
                        position: relative;

                        float: right;

                        height: 100%;
                        width: calc(100% - 100px);

                        user-select: none;

                        & > div {
                            position: absolute;
                            left: 0;
                            top: 50%;
                            transform: translateY(-50%);

                            height: fit-content;
                            width: 100%;

                            padding: 0 5px;

                            & > .header {
                                position: relative;
    
                                font-weight: bold;
                            }
    
                            & > .brief {
                                position: relative;
    
                                color: gray;
                                font-size: 14px;
                            }
                        }

                        
                    }

                    & > .disabled-label {
                        display: none;
                        pointer-events: none;
                    }

                    &.disabled {
                        & > .disabled-label {
                            display: block;

                            position: absolute;
                            left: 0;
                            top: 0;
    
                            height: 100%;
                            width: 100%;
    
                            padding: 10px;

                            opacity: 0;
    
                            z-index: 10;

                            transition: .3s all;

                            & > .label {
                                position: relative;

                                height: 100%;
                                width: 100%;

                                background-color: orange;

                                text-align: center;

                                & > span {
                                    display: inline-block;
        
                                    position: absolute;
                                    left: 0;
                                    top: 50%;
                                    transform: translateY(-50%);
        
                                    height: fit-content;
                                    width: 100%;;
        
                                    color: white;
                                    font-size: 25px;
                                }
                            }

                            
                        }

                        & > .icon > i {
                            color: gray;
                        }
                        & > .text > .content > .header {
                            color: gray;
                        }
                        
                        opacity: .5;
                        cursor: initial;
                    }

                    &:hover {
                        & > .icon > i {
                            color: #102969;
                        }
                        & > .text > .content > .header {
                            color: orange;
                        }

                        &.disabled {
                            & > .disabled-label {
                                opacity: .9;
                            }

                            & > .icon > i {
                                color: gray;
                            }
                            & > .text > .content > .header {
                                color: gray;
                            }
                        }
                    }
                }
            }
        }

        & > .fade {
            position: absolute;
            left: 0;
            top: 400px;

            height: 150px;
            width: 100%;

            background: linear-gradient(0deg, rgba(16,41,105,0) 0%, rgba(16,41,105,1) 100%);
        }
    }

    &.hovered {
        opacity: 1;
        pointer-events: initial;

        & > .menu-wrapper {
            transform: translateY(0px);
        }
    }

    & > .mouse-exit-region {
        position: absolute;
        bottom: 0;
        left: 0;

        height: calc(100% - 400px);
        width: 100%;

        z-index: 2;
    }
    
}

.body-wrapper {
    position: relative;

    margin: 0;
    padding: 0;

    min-height: 100vh;
    height: fit-content;
    width: 100%;

    z-index: 1;

    background-color: #fff;

    /* background-color: #efeff2; */
    /* border-bottom: 3px solid orange; */
    
}

.footer-wrapper {
    position: relative;

    margin: 0;
    padding: 0;

    width: 100%;
    height: fit-content;

    z-index: 10;
    /* background-color:rgb(15, 37, 87); */

    
}
.hide {
    display: none;
}
.footer-info{
    position: absolute;
    top: 0;
    width: 20%;

    & > span {
        display: block;

        &:nth-child(1) {
            font-size: 20px;
            font-weight: bold;
            color: orange;
            letter-spacing: 4px;
            
        }
        &:nth-child(2){
            font-size: 15px;
            color: white;
            letter-spacing: 2px;
            text-align: justify;
            padding-top: 10px;
            
        }
        &:nth-child(3){
            font-size: 15px;
            color: white;
        }
    }

}

.footer-navbar{

    left: 45%;

    & > ul {
        margin: 0;
        position: absolute;
        color: orange;

        & > li {
            display: list-item;
            color: white;
            padding: 8px;
            margin: 0 30px;
            font-size: 15px;
        }    
    }
}

.user-topbar {
    position: fixed;
    top: 0;
    left: 250px;

    height: 40px;
    width: calc(100% - 250px);

    background-color: orange;

    transition: .3s all;

    & > .theader {
        display: inline-block;
        position: relative;

        height: 100%;
        width: 250px;
        border-right: 1px solid orange;

        text-align: center;
        line-height: 40px;;

        font-size: 20px;
        font-weight: bold;

        color: white;

        letter-spacing: 5px;
    }

    & > .tbody {
        position: relative;

        height: 100%;
        width: 100%;

        & > .topbar-items {
            display: flex;
            justify-content: space-between;
            position: relative;

            height: 100%;
            width: 100%;

            padding: 0 35px;

            font-size: 20px;

            color: white;

            & > .topbar-item {
                position: relative;
                
                line-height: 40px;

                padding: 0 25px;
                
                /* width: 0; */

                & > span {
                    
                    /* transition: .3s all; */

                    display: inline-block;
                   /*  position: absolute;
                    left: 50%;
                    top: 50%;
                    transform: translate(-50%, -50%) scaleX(.3); */
                    position: relative;

                    /* opacity: 0; */

                    text-align: center;

                    padding-left: 10px;
                    font-size: 15px;
                }

                &.btn-toggleside {
                    color: white;

                    opacity: 1;
                }

                transition: .7s all;
                &:hover {
                    cursor: pointer;

                    /* width: 150px;

                    & > span {
                        transform: translate(-50%, -50%) scaleX(1);

                        opacity: 1;
                    } */
                }

            }
        }
    }

    z-index: 2;
}

.user-sidenav {
    position: fixed;
    left: 0;
    top: 0;

    height: 100%;
    width: 250px;

    background-color: rgb(15, 37, 87);

    box-shadow: 5px 5px 10px 8px rgba(0, 0, 0, .1);

    & > .logo {
        position: relative;

        height: fit-content;
        width: 100%;

        text-align: center;

        padding: 20px;

        & > img {
            position: relative;

            width: 200px;

            margin-left: auto;
            margin-right: auto;
        }
    }

    & > .btn-toggle {
        position: absolute;
        right: -40px;
        top: 0;

        height: 40px;
        width: 40px;

        background-color: rgb(15, 37, 87);

        color: white;

        & > i {
            display: inline-block;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
    }
}

.user-body {
    margin-left: 250px;
    margin-top: 40px;

    transition: .3s all;

    position: relative;

    min-height: calc(100vh - 40px);
    height: 100%;
    width: calc(100% - 250px);

    background-color: rgb(233, 238, 245);
}

.sidebar-userInfo {
    position: relative;

    height: 300px;
    width: 100%;

    margin-bottom: 50px;

    & > .userInfo-img {
        display: inline-block;

        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);

        height: 120px;
        width: 120px;

        border-radius: 50%;
        border: 1px dashed white;

        & > img {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);

            height: 90%;
            width: 90%;
            
            border-radius: 50%;
        }
    }

    & > .userInfo-label {
        position: absolute;
        bottom: 0;
        left: 0;

        height: auto;
        width: 100%;

        color: white;

        text-align: center;

        & > .email {
            color: grey;
        }
    }
}

.sidebar-items {
    position: relative;

    color: orange;
    list-style: none;
    
    padding: 0;

    font-size: 17px;

    & > li {
        position: relative;
        padding: 20px;

        z-index: 2;

        text-align: center;
        & > span {
            padding: 15px 15px;
        }

        &.active {
            background-color: #fff;
            
        }

        & > .sidebar-childs {
            list-style: none;
            padding: 15px 35px;

            font-size: 14px;
            color: white;

            & > li {
                position: relative;

                &:hover {
                    cursor: pointer;
                }
            }
        }

    }
}

@media only screen and (max-width: 1300px) {
    .user-topbar {
      left: 0;
      width: 100%;
    }
    .user-body {
        margin-left: 0;
        width: 100%;
    }
  }