<div class="content">
    <figure class="org-chart cf">
        <div class="board ">
            <ul class="columnOne">
                <li>
                    <span>
                        <div class="img"></div>
                        <strong>Position Name</strong>
                        <br>Name Surname
                        <br>AA
                    </span>
                </li>
           
            </ul>
            <ul class="columnOne">
                <li>
                    <span>
                        <div class="img"></div>
                        <strong>Position Name</strong>
                        <br>Name Surname
                        <br>AA
                    </span>
                </li>
           
            </ul>
            <ul class="columnTwo">
                <li>
                    <span>
                        <div class="img"></div>
                        <strong>Position Name</strong>
                        <br>Name Surname
                        <br>AA
                    </span>
                </li>
                <li>
                    <span>
                        <div class="img"></div>
                        <strong>Position Name</strong>
                        <br>Name Surname
                        <br>AA
                    </span>
                </li>
            </ul>
            <ul class="columnTwo">
                <li>
                    <span>
                        <div class="img"></div>
                        <strong>Position Name</strong>
                        <br>Name Surname
                        <br>AA
                    </span>
                </li>
                <li>
                    <span>
                        <div class="img"></div>
                        <strong>Position Name</strong>
                        <br>Name Surname
                        <br>AA
                    </span>
                </li>
            </ul>
      </div>
      <ul class="departments ">
        <li class="department " *ngFor="let item of [0, 0, 0]">
          <ul class="sections">
            <li class="section"> <span>
                    <strong>Position Name</strong>
                    <br>Name Surname
                    <br>AA
                    </span>
            </li>
            <li class="section"> <span>
                    <strong>Position Name</strong>
                    <br>Name Surname
                    <br>BB
                    </span>
            </li>
            <li class="section"> <span>
                    <strong>Position Name</strong>
                    <br>Name Surname
                    <br>BB
                    </span>
            </li>
            
          </ul>
        </li>
        <!-- <li class="department ">
          <span class="lvl-b">
              <strong>Position Name</strong>
              <br>Name Surname
              <br>AB
              </span>
          <ul class="sections">
            <li class="section"> <span>
                    <strong>Position Name</strong>
                    <br>Name Surname
                    <br>CC
                    </span>
            </li>
            <li class="section"> <span>
                    <strong>Position Name</strong>
                    <br>Name Surname
                    <br>AA
                    </span>
            </li>
            <li class="section"> <span>
                    <strong>Position Name</strong>
                    <br>Name Surname
                    <br>CC
                    </span>
            </li>
            <li class="section"> <span>
                    <strong>Position Name</strong>
                    <br>Name Surname
                    <br>CC
                    </span>
            </li>
            <li class="section"> <span>
                    <strong>Position Name</strong>
                    <br>Name Surname
                    <br>CC
                    </span>
            </li>
          </ul>
        </li>
        <li class="department ">
          <span class="lvl-b">
              <strong>Position Name</strong>
              <br>Name Surname
              <br>AB
              </span>
          <ul class="sections">
            <li class="section"> <span>
                    <strong>Position Name</strong>
                    <br>Name Surname
                    <br>AA
                    </span>
            </li>
            <li class="section"> <span>
                    <strong>Position Name</strong>
                    <br>Name Surname
                    <br>BB
                    </span>
            </li>
            <li class="section"> <span>
                    <strong>Position Name</strong>
                    <br>Name Surname
                    <br>BB
                    </span>
            </li>
            <li class="section"> <span>
                    <strong>Position Name</strong>
                    <br>Name Surname
                    <br>BB
                    </span>
            </li>
            <li class="section"> <span>
                    <strong>Position Name</strong>
                    <br>Name Surname
                    <br>BB
                    </span>
            </li>
            <li class="section"> <span>
                    <strong>Position Name</strong>
                    <br>Name Surname
                    <br>BB
                    </span>
            </li>
          </ul>
        </li>
        <li class="department central">
          <span class="lvl-b">
              <strong>Position Name</strong>
              <br>Name Surname
              <br>AB
              </span>
          <ul class="sections">
            <li class="section"> <span>
                    <strong>Position Name</strong>
                    <br>Name Surname
                    <br>AA
                    </span>
            </li>
            <li class="section"> <span>
                    <strong>Position Name</strong>
                    <br>Name Surname
                    <br>CC
                    </span>
            </li>
            <li class="section"> <span>
                    <strong>Position Name</strong>
                    <br>Name Surname
                    <br>CC
                    </span>
            </li>
            <li class="section"> <span>
                    <strong>Position Name</strong>
                    <br>Name Surname
                    <br>CC
                    </span>
            </li>
          </ul>
        </li>
        <li class="department ">
          <span class="lvl-b">
              <strong>Position Name</strong>
              <br>Name Surname
              <br>AB
              </span>
          <ul class="sections">
            <li class="section"> <span>
                    <strong>Position Name</strong>
                    <br>Name Surname
                    <br>AA
                    </span>
            </li>
            <li class="section"> <span>
                    <strong>Position Name</strong>
                    <br>Name Surname
                    <br>BB
                    </span>
            </li>
            <li class="section"> <span>
                    <strong>Position Name</strong>
                    <br>Name Surname
                    <br>BB
                    </span>
            </li>
            <li class="section"> <span>
                    <strong>Position Name</strong>
                    <br>Name Surname
                    <br>BB
                    </span>
            </li>
          </ul>
        </li>
        <li class="department ">
          <span class="lvl-b">
              <strong>Position Name</strong>
              <br>Name Surname
              <br>AB
              </span>
          <ul class="sections">
            <li class="section"> <span>
                    <strong>Position Name</strong>
                    <br>Name Surname
                    <br>CC
                    </span>
            </li>
            <li class="section"> <span>
                    <strong>Position Name</strong>
                    <br>Name Surname
                    <br>AA
                    </span>
            </li>
            <li class="section"> <span>
                    <strong>Position Name</strong>
                    <br>Name Surname
                    <br>CC
                    </span>
            </li>
            <li class="section"> <span>
                    <strong>Position Name</strong>
                    <br>Name Surname
                    <br>CC
                    </span>
            </li>
            <li class="section"> <span>
                    <strong>Position Name</strong>
                    <br>Name Surname
                    <br>CC
                    </span>
            </li>
          </ul>
        </li>
        <li class="department ">
          <span class="lvl-b">
              <strong>Position Name</strong>
              <br>Name Surname
              <br>AB
              </span>
          <ul class="sections">
            <li class="section"> <span>
                    <strong>Position Name</strong>
                    <br>Name Surname
                    <br>AA
                    </span>
            </li>
            <li class="section"> <span>
                    <strong>Position Name</strong>
                    <br>Name Surname
                    <br>BB
                    </span>
            </li>
          </ul>
        </li> -->
      </ul>
    </figure>
      
</div>
 