/* Varaibles - config */
$linePx: 2px; 
$borderPx: 3px;
$screen-sm: 767px;
$color1: #FFF;
$color2: green;
$subcolor1: white;
$subcolor2: black;
$pageBG:  orange;
/* SCSS*/
body{
  background:$pageBG;
}
.content{
	font-family:Verdana;
	font-size:14px;
	* {
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
	}
	position: relative;
}

.org-chart{
	display:block;
	clear: both;
	position: relative;
	&.cf:before,
	&.cf:after {
		content: " "; /* 1 */
		display: table; /* 2 */
	}
	&.cf:after {
		clear: both;
	}
/**
* For IE 6/7 only
* Include this rule to trigger hasLayout and contain floats.
*/
&.cf {
	*zoom: 1;
}
ul{
	padding: 0;
	margin: 0;
	list-style: none;		
}
ul li{ position: relative;}
ul li span{
	display: block;
	text-align: center;
	overflow: hidden;
	text-decoration: none;
	color: $subcolor2;
	font-size: 12px;
	box-shadow: 1px 1px 5px 0px rgba(0,0,0,0.2);
	-webkit-transition: all linear .1s;
	-moz-transition: all linear .1s;
	transition: all linear .1s;
	background: $color1;
    border-radius: 5px;
    padding: 10px 4px; 
    height: fit-content;
}

  .img {
    position: relative;
    
    height: 100px;
    width: 100px;
    
    margin: 10px auto;
    
    background-color: gray;
    
    
  }
  
/* Box colors */ 
.lvl-b { background: $color2; color:$color1;  } 
.board{
	width:70%;
	margin: 0 auto;

    padding-bottom: 50px;

	display: block;
	position: relative;

	&:before{
		content: "";
		display: block;
		position: absolute;
		height: 100%;
		width: 0px;	
		border-left:  $linePx solid $subcolor1;
		margin-left: 49%;
		top:  15px; 
	}
}
/* 1 column */
ul.columnOne{
    height: fit-content;
    margin: 30px 0;
	position: relative;
	width: 100%;
	display: block;
	clear: both;
	li{
		width:30%;
		margin: 0px auto;
	}
}

/* 2 column */
ul.columnTwo{
	position: relative;
	width: 100%;
	display: block;

	height: 220px;
	clear: both;
	li:first-child{
		float: left;
	}
	li{
		width:30%;
        height: fit-content;
		float: right;
	}
	&:before{
		content: "";
		display: block;
		position: relative;
		width: 80%;
		height: 10px;	
		border-top:  $linePx solid $subcolor1;
		margin: 0 auto;
		top: 40px;  
	}
}
/* 3 column */
ul.columnThree{ 
	position: relative;
	width: 100%;
	display: block;
	clear: both;
	li:first-child{
		width:30%;
		float: left;
		margin-left:0;
	}
	li{  	 
		width:30%; 
		margin-left:5%;
		float: left;
	}
	li:last-child{ 
		width:30%;  
		float: right;
		margin-left:0;
	}
	&:before{
		content: "";
		display: block;
		position: relative;
		width: 80%;
		height: 10px;	
		border-top:  $linePx solid $subcolor1;
		margin: 0 auto ;
		top: 40px;  
	}
}
/* DEPARTMENTS COLUMNs */
.departments{ 
	width: 100%;
	clear: both;
	/* &:before{
		content: "";
		display: block; 
		width: 100%;
		height: 22px;	
		border-top:  $linePx solid $subcolor1;
		border-left:  $linePx solid $subcolor1;
		border-right:  $linePx solid $subcolor1;
		margin: 0 auto ;
		top:  0px; 
    } */
    
   /*  display: flex;
    justify-content: space-between; */
}
.department{
	border-left:  $linePx solid $subcolor1;
	width: 200px;
	/* float: left;  */ 
	&:after{
		content: "";
		position:absolute;
		display: block; 
		width: 10px;
		height: 22px;	
		border-left:  $linePx solid $subcolor1;
		left:0;
		/* top: -22px;  */
	}
	&:first-child{
		&:after{
			display:none;
		} 
	}
	&:last-child{
		&:after{
			display:none;
		}
	}
	&.central{
		background:$pageBG;
		&:after{
			display:none;
		}
	}
	span{
		border-left:  1px solid $subcolor1;
	}
	li{	
		border-bottom:  $linePx solid $subcolor1;
        height: 80px;
	}
	li span{
		background: $color1;
		position: absolute;
		z-index: 1;
		width: 95%;
		height: auto;
		vertical-align: middle;
		right:0px; 
        line-height: 14px;
        top: 50px;
		/* border:  $borderPx solid $subcolor1; */
	}
	/* .sections{
		margin-top: -20px;
	} */
}
}

@mixin responsiveClasses() {
	.org-chart{
		.board{
			margin: 0px;
			width:100%;
		}
		.departments{
			&:before{
				border:none;
			}
		}
		.department{
			float: none;
			width: 100%;
			margin-left: 0;
			background:$pageBG;
			margin-bottom: 40px;
			&:before{
				content: "";
				display: block;
				position: absolute;
				width: 15px;
				height: 60px;
				border-left:  $linePx solid $subcolor1;
				z-index: 1;
				top: -45px;
				left: 0%;
				margin-left: -2px;
			}
			&:after{
				display: none;
			}
		}
		.department:first-child:before{	display: none;}
	}
}

/* MEDIA QUERIES */
@media all and (max-width: $screen-sm){
	@include responsiveClasses();
}


/*--------- TO BE REMOVED FROM YOUR CSS --*/
/* this is just to display the behaviour of responsive on codepen */
.responsive-content{
	width: $screen-sm;
	margin:0px auto;
	@include responsiveClasses();

}