<div class="welcome">
    <div class="welcome-bg">
        <div class="img"></div>
        <div class="overlay"></div>
    </div>

    <div class="user-info">
        <div class="user-img">
            <div class="img"></div>
        </div>
        <div class="user-name">
            <span>Welcome, {{ fullname }}</span>
        </div>
    </div>
</div>

<div class="wrapper">
    <!-- <div class="events" style="margin-bottom: 15px;">
        <div class="label">
            <span>Latest news</span>
        </div>

        <div class="event-slider" >
            <p-carousel [value]="events" [autoplayInterval]="5000">
                <ng-template let-event pTemplate="item">
                    <div class="event-item">
                        <div class="event-title">
                            <span>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed erat dui, auctor ut suscipit in, bibendum et ante. Vivamus sed quam in magna</span>
                        </div>
                        <div class="event-details">
                            <div class="event-details-timer">
                                <i class="fas fa-user"></i>
                                <span>Admin</span>
                            </div>
                            <div class="event-details-venue">
                                <i class="far fa-eye"></i>
                                <span>10 views</span>
                            </div>
                        </div>
                    </div>
                    
                </ng-template>
            </p-carousel>
        </div>
    </div>
    <div class="events">
        <div class="label">
            <span>Upcoming events</span>
        </div>

        <div class="event-slider">
            <p-carousel [value]="events" [autoplayInterval]="5000">
                <ng-template let-event pTemplate="item">
                    <div class="event-item">
                        <div class="event-title">
                            <span>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed erat dui, auctor ut suscipit in, bibendum et ante. Vivamus sed quam in magna</span>
                        </div>
                        <div class="event-details">
                            <div class="event-details-venue">
                                <i class="far fa-map"></i>
                                <span>University Malaysia Pahang</span>
                            </div>
                            <div class="event-details-timer">
                                <i class="far fa-clock"></i>
                                <span>In 2 days</span>
                            </div>
                            
                        </div>
                    </div>
                    
                </ng-template>
            </p-carousel>
        </div>
    </div>
 -->
    <div class="membership-validity">
        <div class="header">
            <div class="label">
                <span>Membership</span>
                <span>since 3 Jan 1999</span>
            </div>
        </div>
       
        <div class="body">
            <div class="plan">
                <span>{{ this.accountStatus.plan }}</span>
            </div>

            <div class="validity">
                <div class="header">
                    <div class="item">
                        <span>Account status: </span>
                        <span>{{ accountStatus.status }}</span>
                    </div>
    
                    <div class="item">
                        <span>Expire in: </span>
                        <span>{{ accountStatus.exp }} days</span>
                    </div>
                </div>
                
                <div class="body">
                    <div class="timeline">
                        <div class="line">
                            <div class="fill"></div>
                        </div>
                        <div class="dot start"></div>
                        <div class="dot current"></div>
                        <div class="dot end"></div>

                        <div class="label start">
                            <span>52 Dec 2040</span>
                        </div>
                        <div class="label current">
                            <span>Today</span>
                        </div>
                        <div class="label end">
                            <span>52 Dec 2041</span>
                        </div>
                    </div>
                </div>
                
            </div>
        </div>
    </div>

    <div class="noti">
        <div class="header">
            <i class="far fa-bell"></i>
            <span>Notification</span>
        </div>

        <div class="body">
            <div class="items">
                <div class="item" *ngFor="let item of notification">
                    
                    <div class="label">
                        <span>You got a new message! from asd asd ads</span>
                    </div>
                    <div class="btn-remove">
                        <i class="fas fa-times"></i>
                    </div>
                </div>
                <div class="item" *ngIf="notification.length === 0">
                    
                    <div class="label">
                        <span>Nothing new here</span>
                    </div>
                    <!-- <div class="btn-remove">
                        <i class="fas fa-times"></i>
                    </div> -->
                </div>
            </div>
        </div>
    </div>

    <div class="latest-news">

    </div>
</div>