<div class="body">
  
  <div class="profile">
    <div class="title" >
      <span>Profile</span>
    </div> 
    <div class="image" >
        picture
    </div>

    <div class="p-grid p-justify-center">

      <div class="p-col-3">
        <span>Full name</span>
      </div>
      <div class="p-col-6">
        <input type="text" pInputText />
      </div>
    </div>
    <div class="p-grid p-justify-center">

      <div class="p-col-3">
        <span>Email</span>
      </div>
      <div class="p-col-6">
        <input type="text" pInputText />
      </div>
    </div>
    <div class="p-grid p-justify-center">

      <div class="p-col-3">
        <span>Phone Number</span>
      </div>
      <div class="p-col-6">
        <input type="text" pInputText />
      </div>
    </div>
    <div class="p-grid p-justify-center">

      <div class="p-col-3">
        <span>Address</span>
      </div>
      <div class="p-col-6">
        <input type="text" pInputText />
      </div>
    </div>
    <div class="p-grid p-justify-center">

      <div class="p-col-3">
        <span>University</span>
      </div>
      <div class="p-col-6">
        <input type="text" pInputText />
      </div>
    </div>
    <div class="p-grid p-justify-center">

      <div class="p-col-3">
        <span>Course</span>
      </div>
      <div class="p-col-6">
        <input type="text" pInputText />
      </div>
    </div>
    <div class="p-grid p-justify-center">

      <div class="p-col-3">
        <span>Status</span>
      </div>
      <div class="p-col-6">
        <input type="text" pInputText />
      </div>
    </div>

    <!-- <div class="title" >
      <span>Profile</span>
    </div> 
    <div class="image" >
        picture
    </div>

    <div class="labels">
      <label for="fName">
        Full Name
      </label>

      <label for="email">
        Email
      </label>

      <label for="pNum">
        Phone Number
      </label>

      <label for="adrs">
        Address
      </label>

      <label for="uni">
        University
      </label>

      <label for="crs">
        Course
      </label>

      <label for="payStat">
        Status
      </label>
    </div>

    <div class="inputs">
      <input type="text" pInputText />
      <input type="text" pInputText />
      <input type="text" pInputText />
      <input type="text" pInputText />
      <input type="text" pInputText />
      <input type="text" pInputText />
      <input type="text" pInputText />
    </div>

    <div class=p-grid>
        <div class="editBtn">
            <p-button label="Edit" icon="pi pi-pencil" iconPos="right"></p-button>
        </div>
    </div> -->
  </div>
</div>