<div class="wrapper">
    <div class="header-banner">
        <div class="bg-poly-overlay"></div>
        <div class="banner">
            <div class="label">
                <div class="title">
                    <span>Events</span>
                </div>
                <div class="brief">
                    <span>Keep yourself updated!</span>
                </div>
            </div>
           
            <div class="svg"></div>
        </div>
    </div>
    
    <div class="content" #content>
        <div class="bg-poly-overlay"></div>
        <ng-container *ngIf="!reading">
            <div class="cluster-nav" [@inOutAnimation]>
                <div class="nav-items">
                    <div class="item" [class.active]="cnav.active" (click)="selectCluster(x, cnav.name)" *ngFor="let cnav of clusterNav; let x = index">
                        <div class="label">
                            <span>{{ cnav.label }}</span>
                        </div>
                    </div>
                </div>
            </div>
    
            <div class="events">
                <div class="filters">
                    <div class="item">
                        <div class="ui-inputgroup">
                            <input type="text" pInputText placeholder="Keywords" [(ngModel)]="activeKeyword" (keyup.enter)="query()">   
                            <button pButton type="button" icon="pi pi-search" class="ui-button-warn" (click)="query()"></button>      
                        </div>
                    </div>
                    <div class="item">
                        <p-dropdown [options]="sortItems" [(ngModel)]="activeSort" (onChange)="query()"></p-dropdown>
                    </div>
                </div>
                <div class="events-items">
                    <ng-container *ngIf="loadingEvent">
                        <div class="item-placeholder" *ngFor="let event of [0, 0, 0]">
                            <div class="img"></div>
                            <div class="info">
                                <div class="header">
                                    <div class="title"></div>
                                    <div class="cluster"></div>
                                </div>
                                <div class="brief"></div>
                                <div class="stats"><div class="item"></div></div>
                            </div>
                        </div>
                    </ng-container>
                    <ng-container *ngIf="!loadingEvent">
                        <div class="item" [@eventItem] *ngFor="let event of events">
                            <div class="img" [style.backgroundImage]="'url(' + event.imgPath + ')'" ></div>
                            <div class="info">
                                <div class="cluster">
                                    <span>{{ event.cluster }}</span>
                                </div>
                                <div class="title">
                                    <span>{{ event.title }}</span>
                                </div>
                                <div class="brief">
                                    <span>{{ event.brief }}</span>
                                    <div class="overflow-cover"></div>
                                </div>
                                <div class="stats">
                                    <div class="item" *ngFor="let stat of event.stats">
                                        <!-- <i [class]="stat.icon"></i> -->
                                        <span>{{ stat.value }} </span>
                                        <span>{{ stat.label }}</span>
                                        
                                    </div>
                                </div>
                                <div class="btn-read" (click)="toggleRead(true, event.id)">
                                    <span>Read more</span>
                                </div>
                            </div>
                        </div>
                    </ng-container>
                </div>
                <p-paginator [rows]="10" [totalRecords]="30"></p-paginator>
            </div>
        </ng-container>
        
        <ng-container *ngIf="reading">
            <div class="event-read" [@inOutAnimation]>
                <div class="title">
                    <span>{{ readEventData.title }}</span>
                </div>
                <div class="stats">
                    <div class="item" [class]="item.class" *ngFor="let item of readEventData.stats" >
                        <span>{{ item.val }}</span>
                    </div>
                </div>
    
                <div class="img" [style.backgroundImage]="'url(' + readEventData.imgPath + ')'" ></div>
    
                <div class="content ql-editor" [innerHTML]="this.readEventData.content | safeContent: 'html'" >
                </div>

                <div class="btn-back" (click)="toggleRead(false, '')">
                    <i class="fas fa-arrow-left"></i>
                    <span>Go back</span>
                </div>
            </div>
        </ng-container>
    </div>
    
</div>
