<div class="wrapper">
    
    <div class="wcenter">
        <div class="aos-anim" data-aos="fade-right">
            <div class="header">
                <span>{{ this.header }}</span>
            </div>
        
            <div class="body">
                <span>{{ this.body }}</span>
            </div>
    
            <div class="desc">
                <span>{{ this.desc }}</span>
            </div>
        </div>
        
    </div>
    
</div>
<div class="bg-overlay"></div>

<div class="breadcrumb">
    
    <p-breadcrumb [model]="this.breadcrumbItems" [home]="home"></p-breadcrumb>
</div>