<div class="section s1">
    <div class="bg-poly-overlay"></div>
    <div class="snav snav-left" (click)="this.headerPrev()">
        <div class="snav-btn">
            <div></div>
            <div></div>
            <div></div>
        </div>
    </div>
    <div class="snav snav-right" (click)="this.headerNext()">
        <div class="snav-btn">
            <div></div>
            <div></div>
            <div></div>
        </div>
    </div>

    
    <div class="welcome-text">
        <div *ngFor="let item of this.headerContent; let i = index;" style="position: absolute; top: 0;
        left: 0; height: 100%; width: auto;">
            <div *ngIf="this.headerContentIndex === i" class="aos-anim" data-aos="fade-down" data-aos-duration="600">

                <span>{{ item.title }}</span>
                <span>{{ item.body }}</span>
                <span>{{ item.brief }}</span>
            
                <div class="btn-hollow"> 
                    <span (click)="togglePopupVideo(true)" >Take a look</span>
                </div>
    
            </div>
        </div>
        

        
    </div>

    <div class="svg-view-wrapper">
        <div *ngFor="let item of this.headerContent; let i = index;" style="position: absolute; left: 0; top: 0; height: 100%; width: 100%;">
            <img *ngIf="this.headerContentIndex === i" [src]="item.svg" class="svg-view" data-aos="zoom-out" data-aos-duration="1000" data-aos-delay="400">
        </div>
    </div>

    <div class="poly-0">
        <div></div>
        <div></div>
    </div>
</div>

<div class="section s2">
    <div class="section-header">
        <span>Welcome to MyRAS official web portal!</span>
    </div>

    <div class="section-brief">
        <span>
            MyRAS or Malaysia Robotics and Automation Society is an NGO based
            in Cyberjaya, Malaysia which aims to facilitate in the advance the
            Malaysian Robotics and automation industry by engaging in activities
            that bring together the different stakeholders in the industry.
        </span>
    </div>

    <div class="poly-1">
        <div></div>
    </div>
</div>

<div class="section s3">
    <div class="section-header">
        <span>Stakeholder involved...</span>
    </div>

    <div class="section-body">
        <div class="p-grid cluster-items">
            <div class="p-col cluster-item" style="width: 100%" *ngFor="let cluster of this.clusters">
                <div class="cluster-icon">
                    <i [class]="cluster.icon"></i>
                </div>
                <div class="cluster-icon-shadow"></div>
                <div class="cluster-label">
                    <span>{{ cluster.label }}</span>
                </div>
                <div class="cluster-brief">
                    <span>{{ cluster.brief }}</span>
                </div>
            </div>
        </div>
    </div>

    <div class="poly-2">
        <div></div>
    </div>
</div>

<div class="section s4">
    <div class="section-header">
        <span>Sponsors</span>
    </div>

    <div class="section-body">
        <div class="partners">
            <div class="item" *ngFor="let key of obj2Arr(partners); let x = index">
                <div class="partner-label">
                    <span>{{ partners[key].label }}</span>
                </div>
                <div class="body">
                    <p-carousel [circular]="true" [numScroll]="1" [autoplayInterval]="5000 + (x * 300)" [numVisible]="4" [value]="partners[key].items">
                        <ng-template let-item pTemplate="item">
                            <a class="logo" target="_blank" href="https://myras.org/"[style.backgroundImage]="'url(' + item.logo + ')'" >

                            </a>
                        </ng-template>
                    </p-carousel>
                </div>
                
            </div>
        </div>
    </div>
</div>