
.fi-col {
    padding: 20px 0px;
   /*  & > input {
        
    } */
}

.p-col-8{
    position: relative;

    /* border: 2px solid #0f2557; */
    border-radius: 30px;
    margin: auto;

    box-shadow: 5px 10px 10px 5px rgba(0, 0, 0, .1);

    padding: 50px;

    background-color: #fff;
}

.title{
    padding-bottom:30px;
    
    text-align:center;
    
    & > span{
        font-size:20px;
        font-weight:bold;
    }
}

.sub-title{
    padding: 10px 0;
}

.body{
    padding: 50px;
    background-color: #E4EBF5;
    position: relative;
    min-height: 100vh;
    width: 100%;
}