<div class="body">
    <div class="p-col-2">
    
    </div>
    
    <div class="p-col-8">
      <div class="title">
        <span> Password</span>
      </div> 
      <span class="text-0">Current Password</span>
      <div class="p-col-6 fi-col">
        <input type="password" pInputText />
      </div>
      <hr>
      <div class="sub-title">
          Changing your password will automatically sign out of all your
          devices. You will need to enter your new password on all your devices
      </div>
      <hr>
      <span class="text-0">New Password</span>
      <div class="p-col-6 fi-col">
        <input type="password" pInputText />
      </div>
      <hr>
      <span class="text-0">Repeat Password</span>
      <div class="p-col-6 fi-col">
        <input type="password" pInputText />
      </div>

      <div class="p-col-12" style="text-align: center;">
        <button pButton type="button" label="Change Password" class="ui-button-raised ui-button-warning"></button>
      </div>
    </div>
    <div class="p-col-2 changepass">
        
    </div>
</div> 


