@import '../../../theme/colors.scss';

.page-header {
    position: relative;

    height: 100vh;
    width: 100%;

    background-color: rgb(15, 37, 87);

    padding-top: 100px; // topnav is 100px height
}


.body {
    position: relative;

    min-height: 100vh; 
    width: 100%;

    background-color: white;
}



.section {
    position: relative;

    height: fit-content;
    width: calc(100% - 200px);

    background-color: white;

    margin: 0 100px;

    &.t {
        height: 100vh;
    }

    & > .header {
        position: relative;

        height: fit-content;
        width: 100%;

        font-size: 24px;
        text-transform: uppercase;
        color: gray;

        & > span {
            display: inline-block;

            position: relative;

            height: fit-content;
            width: fit-content;

            margin-left: 50px;

            background-color: white;

            padding: 30px 20px;

            z-index: 2;
        }

       
        &::before {
            content: '';

            position: absolute;
            top: 50%;
            left: 0;
            transform: translateY(-50%);
            
            height: 2px;
            width: 100%;

            background-color: orange;

            z-index: 1;
        }
    }
    
    & > .section-header {
        position: relative;

        padding-left: 12%;
        padding-right: 12%;

        height: 150px;
        width: 100%;

        line-height: 150px;
        text-align: left;

        font-size: 40px;
    }

    & > .section-body {
        position: relative;

        height: fit-content;
        width: 100%;
    }

    & > .section-brief {

    }

    &.s1 {
        margin-top: 100px;
        & > .section-header {
            padding: 0;
            height: 85px;
            line-height: 85px;
            background-color: orange;

            width: 400px;

            text-align: center;
        }
        & > .section-header-t {
            position: absolute;
            left: 399px;
            top: 0;

            height: 100px;
            width: 130px;

            background-color: orange;

            clip-path: polygon(0 0, 0% 100%, 100% 100%);

        }
    }
}

.highlights-wrapper {
    position: relative;

    height: 600px;
    width: 100%;

    background-color: #152342;
    border-top: 25px solid orange;

    overflow: hidden;

    & > .highlight-img {
        position: absolute;
        left: 0;
        top: 0;

        height: 100%;
        width: calc(100% - 500px);

        & > .img {
            height: 100%;
            width: 100%;
        }

        &.blur {
            filter: blur(10px);
            
            & > .img {
                opacity: .3;
            }
        }
    }

    & > .highlight-title {
        position: absolute;
        bottom: 50px;
        left: 0;

        height: 100px;
        width: 50%;

        background-color: orange;

        font-size: 30px;
        font-weight: bold;
        color: white;

        line-height: 100px;

        padding-left: 20px;

        clip-path: polygon(0 0, 100% 0, 85% 100%, 0% 100%);

        &.b {
            bottom: 35px;

            width: calc(50% + 20px);

            background-color: #152342;

            
        }

        transition: .3s all;
        &:hover {
            opacity: .05;
        }
    }

    & > .highlight-nav {
        position: absolute;
        right: 40px;
        top: 0;

        height: 100%;
        width: 460px;

        /* background-color: orange; */

        & .highlight-nav-item {
            position: relative;

            padding: 5px 0;
            border-bottom: 1px solid orange;
            

            height: 162px;
            width: 100%;

            color: white;

            border: 2px solid transparent;

            transition: .3s all;
            &:hover {
                cursor: pointer;

                border: 2px solid rgba(255, 166, 0, 0.747);
            }

            & > .brief {
                position: absolute;
                left: 0;
                top: 0;

                height: 100%;
                width: calc(100% - 180px);

                & > .bheader {
                    height: 50px;
                    width: 100%;

                    padding-left: 10px;

                    line-height: 50px;

                    font-weight: bold;
                    font-size: 20px;

                    color: orange;
                }

                & > .bbody {
                    height: calc(100% - 50px);
                    width: 100%;

                    padding: 10px;

                    font-size: 15px;
                }
            }

            & > .img {
                position: absolute;
                right: 0;
                top: 0;

                height: 100%;
                width: 200px;
            }   
            
        }
    }
}


:host ::ng-deep {
    .ui-carousel {
        height: 100%;
    }
    .ui-carousel-content {
        height: 100%;
    }
    .ui-carousel-container {
        height: 100%;
    }
    .ui-carousel-items-container {
        height: 100%;
    }
    .ui-carousel-dots-container{
        display: none !important;
    }
}


.news-wrapper {
    position: relative;

    height: 100%;
    width: 100%;
}

.trending-news-bar {
    position: relative;

    height: fit-content;
    width: 100%;

    display: flex;

    & > .label {
        position: relative;

        height: fit-content;
        width: 190px;

        padding: 10px 25px;

        white-space: nowrap;
        background-color: orange;
        color: white;

        text-transform: uppercase;

        &::before {
            content: '';
            
            position: absolute;
            right: -0.5px;
            top: 0;

            height: 100%;
            width: 20px;

            background-color: white;

            clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%, 100% 50%);
        }
    }

    & > .value {
        position: relative;

        height: 100%;
        width: calc(100% - 190px);
    }
}

.trending-news-bar-items {
    position: relative;

    height: 100%;
    width: 100%;

    & .item {
        position: relative;

        height: 100%;
        width: 100%;

        & > .title {
            position: absolute;
            top: 50%;
            left: 0;
            transform: translateY(-50%);

            height: fit-content;
            width: 100%;
            
            padding: 0 30px;

            white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;

            color: gray;

        }
    }
}

.news-row {
    position: relative;

    height: 70vh;
    width: 100%;

    display: flex;
    justify-content: space-between;
}

.news-highlights {
    position: relative;

    height: 100%;
    width: 100%;

    & > .img {
        position: relative;

        height: 100%;
        width: 100%;

        background-image: url('../../../../assets/panaroma-city.jpg');
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }

    z-index: 1;

    & > .dark-overlay {
        position: absolute;
        left: 0;
        top: 0;
        bottom: 0;
        right: 0;

        background: radial-gradient(circle, rgba(0,0,0,0.19681375968356096) 0%, rgba(0,0,0,1) 100%);
        opacity: .4;
        z-index: 2;
    }

    & > .overlay {
        position: absolute;
        left: 0;
        bottom: 0;

        height: 200px;
        width: 100%;

        background-color: rgba(black, .1);

        color: white;

        z-index: 3;
        & > .cluster {
            position: relative;

            height: fit-content;
            width: fit-content;

            color: white;
            background-color: orange;

            padding: 5px 15px;
            margin-left: 30px;

            text-transform: uppercase;
            font-weight: bold;

            &::before {
                content: '';
                
                position: absolute;
                right: -20px;
                top: 0;
    
                height: 100%;
                width: 20px;
    
                background-color: orange;
    
                clip-path: polygon(0 0, 0% 100%, 100% 50%);
            }
        }

        & > .title {
            position: relative;

            height: fit-content;
            max-width: 600px;
            width: fit-content;

            font-size: 35px;
            font-weight: bold;
            color: white;

            padding: 10px 0;
            margin-left: 30px;

            /* background-color: black; */
        }

        & > .info-items {
            position: relative;

            height: fit-content;
            width: 100%;

            margin-left: 30px;

            display: flex;

            & > div {
                position: relative;

                height: fit-content;
                width: fit-content;

                padding: 10px 20px;

                &:nth-child(1) {
                    padding-left: 0;
                }
            }
        }

        & > .action-items {
            position: absolute;
            left: 0;
            bottom: 0;

            height: fit-content;
            width: 100%;

            padding: 15px 30px;

            background: linear-gradient(180deg, rgba(0,0,0,0.19681375968356096) 0%, rgba(0,0,0,1) 100%);

            display: flex;
            justify-content: space-between;
        }
    }
}

.news-nav {
    position: relative;

    height: 100%;
    width: 500px;

    background-color: #efeff2;

    display: flex;
    flex-direction: column;

    & > .header {
        position: relative;

        height: 60px;
        width: fit-content;

        padding: 15px 30px;

        color: orange;
        font-size: 18px;
    }

    & > .nav-body {
        position: relative;

        height: 100%;
        width: 100%;
    }
}

.trending-news-nav-items {
    position: relative;

    height: 100%;
    width: 100%;

    display: flex;
    flex-direction: column;

    & > .item {
        position: relative;

        height: fit-content;
        width: 100%;

        padding: 10px;

        display: flex;

        & > .img {
            position: relative;

            height: 90px;
            width: 200px;

            background-color: green;

            margin-right: 10px;
        }

        & > .info {
            position: relative;

            height: fit-content;
            width: 100%;

            display: flex;
            flex-direction: column;
        }
    }
}