<div class="page-header">
    <app-section-page-header></app-section-page-header>
</div>

<div class="body">
    <div class="section s1">
        <div class="header">
            <span>News</span>
        </div>
        <div class="news-wrapper">
            <div class="trending-news-bar">
                <div class="label">
                    <span>Trending now</span>
                </div>
                <div class="value">
                    <div class="trending-news-bar-items">
                        <p-carousel [value]="['', '']">
                            <ng-template let-event pTemplate="item">
                                <div class="item">
                                    <div class="title">
                                        <span>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed erat dui, auctor ut suscipit in, bibendum et ante. Vivamus sed quam in magna</span>
                                    </div>
                                    
                                </div>
                                
                            </ng-template>
                        </p-carousel>
                    </div>
                    
                </div>
            </div>

            <div class="news-row" style="margin-top: 30px;">
                <div class="news-highlights">
                    <div class="img"></div>
                    <div class="dark-overlay"></div>
                    <div class="overlay">
                        <div class="cluster">
                            <span>Government</span>
                        </div>
                        <div class="title">
                            <span>Lorem itsum test test lol</span>
                        </div>
                        <div class="info-items">
                            <div class="item">
                                <span>18 April, 2020</span>
                            </div>
                            <div class="item">
                                <i class="fas fa-times"></i>
                                <span>69</span>
                            </div>
                            <div class="item">
                                <i class="fas fa-times"></i>
                                <span>69</span>
                            </div>
                        </div>
                        <div class="action-items">
                            <div class="item">
                                <span>Read more</span>
                            </div>
                            <div class="item">
                                <span>Add to favourite</span>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="news-nav">
                    <div class="header">
                        <span>Trending Posts</span>
                    </div>

                    <div class="nav-body">
                        <div class="trending-news-nav-items">
                            <div class="item" *ngFor="let item of [0, 0, 0, 0]">
                                <div class="img"></div>
                                <div class="info">
                                    <div class="cluster">
                                        <span>Government</span>
                                    </div>
                                    <div class="title">
                                        <span>Lorem itsum lmao test</span>
                                    </div>
                                    <div class="date">
                                        <span>18 April, 2020</span>
                                    </div>
                                </div>
                                
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            
        </div>
    </div>
</div>